﻿
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/headfoot.cshtml";
}

<div class="breadcrumb breadcrumb-style-one mb-0 ">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h1 class="breadcrumb-title">About Us</h1>
            <ul class="d-flex justify-content-center breadcrumb-items">
                <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">About Us</li>
            </ul>
        </div>
    </div>
</div>


<div class="about-wrpper pt-110">
    <div class="container">

        <div class="about-disc-wrap row gy-5">
            <div class="col-lg-6">
                <div class="about-disc-img">
                    <img src="~/assets/images/image-group/about-image-group.png" alt class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-disc">
                    <h2>About us</h2>
                    <div class="highlighted-texts">
                        <h4>The auction platform for artists, arts organi sations and charities.</h4>
                    </div>
                    <p>
                        An auction is an exciting day out, and you might find something special to take home. It's
                        quite a specialist method of buying, so it's good to know the ins and outs in advance. it to
                        make a type specimen book.
                    </p>
                    <ul class="about-disc-list">
                        <li>
                            <img src="~/assets/images/icon/arrow-right-fancy.svg" alt> <span>
                                Unrivaled Auction
                                Service
                            </span>
                        </li>
                        <li>
                            <img src="~/assets/images/icon/arrow-right-fancy.svg" alt> <span>
                                Extensive
                                Marketing
                            </span>
                        </li>
                        <li>
                            <img src="~/assets/images/icon/arrow-right-fancy.svg" alt> <span>
                                Existing Corporate
                                Client Database
                            </span>
                        </li>
                    </ul>
                    <div class="about-disc-bottom d-flex align-items-center gap-5 flex-wrap">
                        <a href="auction-details.html" class="alpha-btn-md-dark">More Details</a>
                        <div class="ceo-info d-flex align-items-center gap-3">
                            <div class="ceo">
                                <img src="~/assets/images/image-group/ceo.png" alt>
                            </div>
                            <div class="ceo-disc">
                                <h5>Kathryn Murphy</h5>
                                <span>CEO Auction Lab</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-features pt-110">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-header-two text-center">
                        <h3>What Can Auction Lab Expert</h3>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-feature-card">
                        <div class="feat-intex">
                            <span>01</span>
                        </div>
                        <h4>Real time Auction</h4>
                        <p>
                            Voluptate aut blanditiis accusantium officiis expedita dolorem inventore odio reiciendis
                            obcaecati
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-feature-card">
                        <div class="feat-intex">
                            <span>02</span>
                        </div>
                        <h4>Support Multiple Currecncy</h4>
                        <p>
                            Voluptate aut blanditiis accusantium officiis expedita dolorem inventore odio reiciendis
                            obcaecati
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-feature-card">
                        <div class="feat-intex">
                            <span>03</span>
                        </div>
                        <h4>Winner Announcement</h4>
                        <p>
                            Voluptate aut blanditiis accusantium officiis expedita dolorem inventore odio reiciendis
                            obcaecati
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-feature-card">
                        <div class="feat-intex">
                            <span>04</span>
                        </div>
                        <h4>Supports Multiple Currency</h4>
                        <p>
                            Voluptate aut blanditiis accusantium officiis expedita dolorem inventore odio reiciendis
                            obcaecati
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-feature-card">
                        <div class="feat-intex">
                            <span>05</span>
                        </div>
                        <h4>Show All Bidders history</h4>
                        <p>
                            Voluptate aut blanditiis accusantium officiis expedita dolorem inventore odio reiciendis
                            obcaecati
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-feature-card">
                        <div class="feat-intex">
                            <span>06</span>
                        </div>
                        <h4>Add to Watchlist</h4>
                        <p>
                            Voluptate aut blanditiis accusantium officiis expedita dolorem inventore odio reiciendis
                            obcaecati
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="top-winner-area top-winnner-style-two mt-110">
        <div class="container position-relative">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-header-two">
                        <h3>Top winner</h3>
                    </div>
                </div>
            </div>
            <div class="swiper winner-slider position-relative">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide">
                        <div class="winner-gamma">
                            <div class="winner-image">
                                <img src="~/assets/images/winner/winner-b1.png" alt>
                            </div>
                            <div class="winner-info">
                                <h5 class="winner-name"><a href="winner.html">Esther Howard</a></h5>
                                <p class="id">ID: 0195608</p>
                                <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="winner-gamma">
                            <div class="winner-image">
                                <img src="~/assets/images/winner/winner-b2.png" alt>
                            </div>
                            <div class="winner-info">
                                <h5 class="winner-name"><a href="winner.html">Eleanor Pena</a></h5>
                                <p class="id">ID: 0195654</p>
                                <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="winner-gamma">
                            <div class="winner-image">
                                <img src="~/assets/images/winner/winner-b3.png" alt>
                            </div>
                            <div class="winner-info">
                                <h5 class="winner-name"><a href="winner.html">Albert Flores</a></h5>
                                <p class="id">ID: 0195864</p>
                                <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="winner-gamma">
                            <div class="winner-image">
                                <img src="~/assets/images/winner/winner-b4.png" alt>
                            </div>
                            <div class="winner-info">
                                <h5 class="winner-name"><a href="winner.html">Robert Fox</a></h5>
                                <p class="id">ID: 0195767</p>
                                <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="winner-gamma">
                            <div class="winner-image">
                                <img src="~/assets/images/winner/winner-b5.png" alt>
                            </div>
                            <div class="winner-info">
                                <h5 class="winner-name"><a href="winner.html">Jane Cooper</a></h5>
                                <p class="id">ID: 0195608</p>
                                <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="winner-gamma">
                            <div class="winner-image">
                                <img src="~/assets/images/winner/winner-b6.png" alt>
                            </div>
                            <div class="winner-info">
                                <h5 class="winner-name"><a href="winner.html">Jenny Wilson</a></h5>
                                <p class="id">ID: 0195608</p>
                                <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-arrows text-center d-lg-flex d-none ">
                <div class="winner-prev swiper-prev-arrow" tabindex="0" role="button" aria-label="Previous slide"> <i class="bi bi-arrow-left"></i> </div>
                <div class="winner-next swiper-next-arrow" tabindex="0" role="button" aria-label="Next slide"><i class="bi bi-arrow-right"></i></div>
            </div>
        </div>
    </div>
</div>


<div class="testimonial-area testimonial-style-two mt-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-header-two text-center">
                    <h3>Auction Winners Say</h3>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 align-items-center">
                <div class="testimonial-disc">
                    <p>Great reviews </p>
                    <h3>don't belive me! Check what client think of us ?</h3>

                    <div class="slider-arrows  d-lg-flex d-none gap-4">
                        <div class="testi-prev2 swiper-prev-arrow" tabindex="0" role="button" aria-label="Previous slide"> <i class="bi bi-arrow-left"></i> </div>
                        <div class="testi-next2 swiper-next-arrow" tabindex="0" role="button" aria-label="Next slide"><i class="bi bi-arrow-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="swiper testimonial-slider-two swiper-negetive-space-x pb-2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-gamma">
                                <div class="testiminial-header">
                                    <div class="reviewer">
                                        <img src="~/assets/images/testimonial/testi-reviewer1.png" alt>
                                    </div>
                                    <h5 class="reviewer-name"><a href="winner.html">avator Jaqob</a></h5>
                                    <p>Co-Founder</p>
                                    <ul class="testimonial-rating">
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                    </ul>
                                </div>
                                <div class="testiminial-body">
                                    <p>Nulla facilisi. Etiam sit amet libero a dolor malesuada faucibus. Suspendisse non massa id orci tempor</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-gamma">
                                <div class="testiminial-header">
                                    <div class="reviewer">
                                        <img src="~/assets/images/testimonial/testi-reviewer2.png" alt>
                                    </div>
                                    <h5 class="reviewer-name"><a href="winner.html">Robert Jox</a></h5>
                                    <p>Winner 02</p>
                                    <ul class="testimonial-rating">
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                    </ul>
                                </div>
                                <div class="testiminial-body">
                                    <p>Nulla facilisi. Etiam sit amet libero a dolor malesuada faucibus. Suspendisse non massa id orci tempor</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="sponsor-area sponsor-style-one pt-110">
    <div class="container">
        <div class="row row-cols-xxl-6 row-cols-md-4 row-cols-sm-3 row-cols-2 g-4">
            <div class="col">
                <div class="sponsor-logo">
                    <img class="gray-img" src="~/assets/images/collection/sp1.png" alt>
                </div>
            </div>
            <div class="col">
                <div class="sponsor-logo">
                    <img src="~/assets/images/collection/sp2.png" alt>
                </div>
            </div>
            <div class="col">
                <div class="sponsor-logo">
                    <img src="~/assets/images/collection/sp3.png" alt>
                </div>
            </div>
            <div class="col">
                <div class="sponsor-logo">
                    <img src="~/assets/images/collection/sp4.png" alt>
                </div>
            </div>
            <div class="col">
                <div class="sponsor-logo">
                    <img src="~/assets/images/collection/sp3.png" alt>
                </div>
            </div>
            <div class="col">
                <div class="sponsor-logo">
                    <img src="~/assets/images/collection/sp4.png" alt>
                </div>
            </div>
        </div>
    </div>
</div>


