﻿
@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/headfoot.cshtml";
}

<div class="breadcrumb breadcrumb-style-one mb-0 ">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h1 class="breadcrumb-title">Blog Details</h1>
            <ul class="d-flex justify-content-center breadcrumb-items">
                <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Blog Details</li>
            </ul>
        </div>
    </div>
</div>


<section class="blog-details-section pt-110">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-8">

                <div class="blog-details-header">
                    <p class="catgory">BMW Car Bidding</p>
                    <h3>A brand for a company is like reputation for a person. You earn reputation by trying</h3>
                    <div class="header-meta">
                        <div class="meta-item">
                            <i class="bx bxs-user"></i><span>Jane Cooper</span>
                        </div>
                        <div class="meta-item">
                            <i class="bx bx-time"></i><span>5 Min Read</span>
                        </div>
                    </div>
                </div>

                <div class="blog-dtails-body">
                    <div class="blog-details-img">
                        <img src="~/assets/images/blog/blogd.png" alt>
                    </div>
                    <p class="common-para">Gochujang ugh viral, butcher pabst put a bird on it meditation austin craft beer banh mi. Distillery ramps af, gochujang hell of VHS kitsch austin. Vegan air plant trust fund, poke sartorial ennui next level photo booth coloring book etsy green juice meditation austin craft beer.</p>
                    <h5 class="subheading">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deseru mollit anim id est laborum.</h5>
                    <div class="blockqute-area">
                        <div class="author">
                            <img src="~/assets/images/blog/blockquote-img.png" alt>
                        </div>
                        <div class="block-quote">
                            <i class="bx bxs-quote-right"></i>
                            <p>“Our task must be to free ourselves… by widening our circle of compassion toe brace all living creatures and the whole of nature and it’s.</p>
                            <h5><a href="#">Leslie Alexander</a></h5>
                        </div>
                    </div>
                    <p class="common-para mb-25">Fashion ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione</p>
                    <p class="common-para">Fashion ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia co nsequuntur magni dolores eos qui ratione ed ut perspiciatis unde omnis iste natus error sit volupta tem accusantium doloremque laudantium, totam </p>
                    <div class="blog-video-area">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="blog-video">
                                    <div class="wrapper">
                                        <div class="video-pluse">
                                            <span style="--i:1;"></span>
                                            <span style="--i:5;"></span>
                                            <span style="--i:3;"></span>
                                            <a href="https://www.youtube.com/watch?v=u31qwQUeGuM" class="video-frame video-icon"><i class="bx bx-play"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="~/assets/images/blog/blogd-vdo2.png" alt>
                            </div>
                        </div>
                    </div>
                    <p class="common-para">Fashion ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione</p>
                </div>

                <div class="blog-details-social">
                    <div class="row g-3">
                        <div class="col-md-6 d-flex justify-content-md-start justify-content-center">
                            <ul class="post-tag-list">
                                <li>TAGS:</li>
                                <li><a href="#">Survey,</a></li>
                                <li><a href="#">Data,</a></li>
                                <li><a href="#">Center,</a></li>
                                <li><a href="#">VAS,</a></li>
                                <li><a href="#">Setup</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
                            <ul class="blog-icon-list">
                                <li>Follow:</li>
                                <li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
                                <li><a href="https://twitter.com/"><i class="bx bxl-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/"><i class="bx bxl-instagram"></i></a></li>
                                <li><a href="https://www.pinterest.com/"><i class="bx bxl-pinterest-alt"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="comment-area">
                    <h4>02 Comments</h4>
                    <ul class="comment-list">
                        <li class="single-comment">
                            <div class="comment-header">
                                <div class="comment-img">
                                    <img src="~/assets/images/blog/comm1.png" alt>
                                </div>
                                <div class="comment-title">
                                    <h5>DAVID MARTIN</h5>
                                    <p>20 September, 2021 . 4:00 pm</p>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>Fashion ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis qui ratione.</p>
                                <a href="#" class="reply-btn">Reply</a>
                            </div>
                        </li>
                        <li class="single-comment">
                            <div class="comment-header">
                                <div class="comment-img">
                                    <img src="~/assets/images/blog/blog-author-x.png" alt>
                                </div>
                                <div class="comment-title">
                                    <h5>ABDULLAH ANSARI </h5>
                                    <p>20 September, 2021 . 4:00 pm</p>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>Fashion ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis qui ratione.</p>
                                <a href="#" class="reply-btn">Reply</a>
                            </div>
                        </li>
                    </ul>
                    <h4>Leave A Comment</h4>
                    <form class="comment-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-inner">
                                    <label>Your Name</label>
                                    <input type="text" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-inner">
                                    <label>Your Email</label>
                                    <input type="text" placeholder="Enter Your Email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-inner">
                                    <label>Your Message</label>
<textarea placeholder="Enter Your Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="submit-button">Submit Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <form class="sidebar-search">
                    <div class="form-inner d-flex justify-content-center ">
                        <input type="text" placeholder="Enter Keward">
                        <button class="search-btn">SEARCH</button>
                    </div>
                </form>
                <div class="blog-sidebar">
                    <div class="blog-widget widget-categories">
                        <h5 class="wdget-title">News Category</h5>
                        <ul class="widget-body">
                            <li><a href="#"><span>BMW Car Bidding</span> <img src="~/assets/images/icon/arrow-right-fancy.svg" alt></a></li>
                            <li><a href="#"><span>Business</span> <img src="~/assets/images/icon/arrow-right-fancy.svg" alt></a></li>
                            <li><a href="#"><span>New Tecnologies</span> <img src="~/assets/images/icon/arrow-right-fancy.svg" alt></a></li>
                            <li><a href="#"><span>Data Center</span> <img src="~/assets/images/icon/arrow-right-fancy.svg" alt></a></li>
                            <li><a href="#"><span>Network Setup</span> <img src="~/assets/images/icon/arrow-right-fancy.svg" alt></a></li>
                            <li><a href="#"><span>Audi Car Bidding</span> <img src="~/assets/images/icon/arrow-right-fancy.svg" alt></a></li>
                        </ul>
                    </div>
                    <div class="blog-widget widget-categories">
                        <h5 class="wdget-title">Letest Posts</h5>
                        <div class="latest-post-single">
                            <div class="post-img">
                                <img src="~/assets/images/blog/lp1.png" alt>
                            </div>
                            <div class="post-content">
                                <h6><a href="blog-details.html">Security Council Diplomats to Have Lunch.</a></h6>
                                <p>5 February, 2021</p>
                            </div>
                        </div>
                        <div class="latest-post-single">
                            <div class="post-img">
                                <img src="~/assets/images/blog/lp2.png" alt>
                            </div>
                            <div class="post-content">
                                <h6><a href="blog-details.html">How Can My Business Win?</a></h6>
                                <p>5 February, 2021</p>
                            </div>
                        </div>
                        <div class="latest-post-single">
                            <div class="post-img">
                                <img src="~/assets/images/blog/lp3.png" alt>
                            </div>
                            <div class="post-content">
                                <h6><a href="blog-details.html">Genocide’s Legacy: Ation Villa ge in Rwanda</a></h6>
                                <p>5 February, 2021</p>
                            </div>
                        </div>
                    </div>
                    <div class="blog-widget widget-categories">
                        <h5 class="wdget-title">News Tag</h5>
                        <ul class="sidebar-tag-list">
                            <li><a href="#">Survey</a></li>
                            <li><a href="#">Data</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="#">Data</a></li>
                            <li><a href="#">VAS</a></li>
                            <li><a href="#">Customer</a></li>
                            <li><a href="#">Setup</a></li>
                            <li><a href="#">VAS</a></li>
                        </ul>
                    </div>
                    <div class="blog-widget widget-categories">
                        <h5 class="wdget-title">Our Follower</h5>
                        <ul class="followers-list">
                            <li><a href="#"><span><i class="bx bxl-facebook"></i>Facebook</span><span>50,520</span></a></li>
                            <li><a href="#"><span><i class="bx bxl-twitter"></i>Twitter</span><span>42,035</span></a></li>
                            <li><a href="#"><span><i class="bx bxl-instagram"></i>Instagram</span><span>3,850</span></a></li>
                            <li><a href="#"><span><i class="bx bxl-pinterest-alt"></i>Pinterest</span><span>10,590</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


