﻿
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/headfoot.cshtml";
}

<div class="breadcrumb breadcrumb-style-one mb-0 ">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h1 class="breadcrumb-title">Blog Grid</h1>
            <ul class="d-flex justify-content-center breadcrumb-items">
                <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Blog Grid</li>
            </ul>
        </div>
    </div>
</div>


<div class="blog-grid-wrapper pt-110">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-card blog-style-gamma">
                    <div class="thumb">
                        <a href="blog-details.html"><img src="~/assets/images/blog/bb4.png" alt></a>
                    </div>
                    <div class="blog-body">
                        <h5 class="blog-title"><a href="blog-details.html">Dolor lorem turpis orci, nunc suscipit tortor, habitasse et in</a></h5>
                        <div class="blog-meta">
                            <div class="author">
                                <img src="~/assets/images/blog/blog-writer1.png" alt>
                            </div>
                            <span class="author">Robart Fox, </span>
                            <span class="date">March 9, 2021</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, cras non sagittis pellentes que donec, nunc eleifend</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-lg-4 col-md-6 col-sm-6">
                <div class="blog-card blog-style-gamma">
                    <div class="thumb">
                        <a href="blog-details.html"><img src="~/assets/images/blog/bb5.png" alt></a>
                    </div>
                    <div class="blog-body">
                        <h5 class="blog-title"><a href="blog-details.html">Magna venenatis, sed sed, amet lec tus, bibendum </a></h5>
                        <div class="blog-meta">
                            <div class="author">
                                <img src="~/assets/images/blog/blog-writer1.png" alt>
                            </div>
                            <span class="author">Robart Fox, </span>
                            <span class="date">March 9, 2021</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, cras non sagittis pellentes que donec, nunc eleifend</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-lg-4 col-md-6 col-sm-6">
                <div class="blog-card blog-style-gamma">
                    <div class="thumb">
                        <a href="blog-details.html"><img src="~/assets/images/blog/bb7.png" alt></a>
                    </div>
                    <div class="blog-body">
                        <h5 class="blog-title"><a href="blog-details.html">A brand for a company is like a reputation for a person</a></h5>
                        <div class="blog-meta">
                            <div class="author">
                                <img src="~/assets/images/blog/blog-writer1.png" alt>
                            </div>
                            <span class="author">Robart Fox, </span>
                            <span class="date">March 9, 2021</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, cras non sagittis pellentes que donec, nunc eleifend</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-card blog-style-gamma">
                    <div class="thumb">
                        <a href="blog-details.html"><img src="~/assets/images/blog/bb1.png" alt></a>
                    </div>
                    <div class="blog-body">
                        <h5 class="blog-title"><a href="blog-details.html">Hella Kogi Whatever, Small Batch Pickled</a></h5>
                        <div class="blog-meta">
                            <div class="author">
                                <img src="~/assets/images/blog/blog-writer1.png" alt>
                            </div>
                            <span class="author">Robart Fox, </span>
                            <span class="date">March 9, 2021</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, cras non sagittis pellentes que donec, nunc eleifend</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-lg-4 col-md-6 col-sm-6">
                <div class="blog-card blog-style-gamma">
                    <div class="thumb">
                        <a href="blog-details.html"><img src="~/assets/images/blog/bb2.png" alt></a>
                    </div>
                    <div class="blog-body">
                        <h5 class="blog-title"><a href="blog-details.html">Winner of auction auction will get gift</a></h5>
                        <div class="blog-meta">
                            <div class="author">
                                <img src="~/assets/images/blog/blog-writer1.png" alt>
                            </div>
                            <span class="author">Robart Fox, </span>
                            <span class="date">March 9, 2021</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, cras non sagittis pellentes que donec, nunc eleifend</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-lg-4 col-md-6 col-sm-6">
                <div class="blog-card blog-style-gamma">
                    <div class="thumb">
                        <a href="blog-details.html"><img src="~/assets/images/blog/bb10.png" alt></a>
                    </div>
                    <div class="blog-body">
                        <h5 class="blog-title"><a href="blog-details.html">Amet pulvinar varius phare trasem tristique</a></h5>
                        <div class="blog-meta">
                            <div class="author">
                                <img src="~/assets/images/blog/blog-writer1.png" alt>
                            </div>
                            <span class="author">Robart Fox, </span>
                            <span class="date">March 9, 2021</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, cras non sagittis pellentes que donec, nunc eleifend</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-card blog-style-gamma">
                    <div class="thumb">
                        <a href="blog-details.html"><img src="~/assets/images/blog/bb8.png" alt></a>
                    </div>
                    <div class="blog-body">
                        <h5 class="blog-title"><a href="blog-details.html">Dolor lorem turpis orci, nunc suscipit tortor, habitasse et in</a></h5>
                        <div class="blog-meta">
                            <div class="author">
                                <img src="~/assets/images/blog/blog-writer1.png" alt>
                            </div>
                            <span class="author">Robart Fox, </span>
                            <span class="date">March 9, 2021</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, cras non sagittis pellentes que donec, nunc eleifend</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-lg-4 col-md-6 col-sm-6">
                <div class="blog-card blog-style-gamma">
                    <div class="thumb">
                        <a href="blog-details.html"><img src="~/assets/images/blog/bb6.png" alt></a>
                    </div>
                    <div class="blog-body">
                        <h5 class="blog-title"><a href="blog-details.html">Magna venenatis, sed sed, amet lec tus, bibendum </a></h5>
                        <div class="blog-meta">
                            <div class="author">
                                <img src="~/assets/images/blog/blog-writer1.png" alt>
                            </div>
                            <span class="author">Robart Fox, </span>
                            <span class="date">March 9, 2021</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, cras non sagittis pellentes que donec, nunc eleifend</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-lg-4 col-md-6 col-sm-6">
                <div class="blog-card blog-style-gamma">
                    <div class="thumb">
                        <a href="blog-details.html"><img src="~/assets/images/blog/blog-grid33.png" alt></a>
                    </div>
                    <div class="blog-body">
                        <h5 class="blog-title"><a href="blog-details.html">A brand for a company is like a reputation for a person</a></h5>
                        <div class="blog-meta">
                            <div class="author">
                                <img src="~/assets/images/blog/blog-writer1.png" alt>
                            </div>
                            <span class="author">Robart Fox, </span>
                            <span class="date">March 9, 2021</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, cras non sagittis pellentes que donec, nunc eleifend</p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination pagination-style-one justify-content-center pt-50">
            <li class="page-item page-arrow"><a class="page-link" href="#"> <i class="bi bi-arrow-left"></i></a></li>
            <li class="page-item active"><a class="page-link" href="#">01</a></li>
            <li class="page-item"><a class="page-link" href="#">02</a></li>
            <li class="page-item"><a class="page-link" href="#">03</a></li>
            <li class="page-item"><a class="page-link" href="#">04</a></li>
            <li class="page-item page-arrow"><a class="page-link" href="#"> <i class="bi bi-arrow-right"></i></a></li>
        </ul>
    </div>
</div>

