﻿
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/headfoot.cshtml";
}

<div class="breadcrumb breadcrumb-style-one mb-0 ">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h1 class="breadcrumb-title">Contact Us</h1>
            <ul class="d-flex justify-content-center breadcrumb-items">
                <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Contact Us</li>
            </ul>
        </div>
    </div>
</div>


<div class="contact-wrapper  mt-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header mx-auto text-center">
                    <h3>Any Asking To The Officers?</h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="contact-box-wrap">
                    <h4>Contact Us</h4>
                    <div class="single-contact-box">
                        <h6>Let’s Talk</h6>
                        <a href="https://demo-egenslab.b-cdn.net/cdn-cgi/l/email-protection#8ce5e2eae3cce9f4ede1fce0e9a2efe3e1" class="mail"><span class="__cf_email__" data-cfemail="ed84838b82ad88958c809d8188c38e8280">[email&#160;protected]</span></a> <a href="https://demo-egenslab.b-cdn.net/cdn-cgi/l/email-protection#e5969095958a9791a5809d8488958980cb868a88" class="mail"><span class="__cf_email__" data-cfemail="c5b6b0b5b5aab7b185a0bda4a8b5a9a0eba6aaa8">[email&#160;protected]</span></a>
                        <a href="tel:8801761111456" class="phone">+88 0176 1111 456</a>
                    </div>
                    <div class="single-contact-box">
                        <h6>Loacation.</h6>
                        <a href="#" class="location">168/170, Ave 01, Streets Suite 66xyz, Bangladesh</a>
                    </div>
                    <div class="single-contact-box">
                        <h6>Social Site Link</h6>
                        <a href="#" class="weblink">Facebook: https://www.facebook.com/egenstheme</a>
                        <a href="#" class="weblink">Twitter: https://www.twitter.com/egenstheme</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0">
                <div class="contact-form">
                    <h4>Questions or Comments?</h4>
                    <form action="#" id="contact_form" method="post">
                        <div class="contact-input-group">
                            <label for="first-Name">Full Name</label>
                            <input type="text" id="first-Name" placeholder="Full Name">
                        </div>
                        <div class="contact-input-group">
                            <label for="email">Email</label>
                            <input type="text" id="email" placeholder="Enter Your Email">
                        </div>
                        <div class="contact-input-group">
                            <label for="email">Message</label>
<textarea id="massege" cols="30" rows="7" placeholder="Type your Message"></textarea>
                        </div>
                        <div class="contact-input-group mt-0">
                            <button type="submit" class="submit-btn">Submit Comment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

