﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/headfoot.cshtml";
}

<div class="hero-area hero-style-one overflow-hidden">
    <div class="swiper hero-slide-one">
        <div class="swiper-wrapper">
            <div class="swiper-slide position-relative">
                <div class="slide-background">
                    <div class="row h-100 background-border-row">
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                    </div>
                </div>
                <div class="slide-content-wrap">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="slide-content">
                                    <h1 class="main-title">
                                        The Xa-023
                                        New Products 2021
                                    </h1>
                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting remained essentially unchanged</p>
                                    <a href="auction-details.html" class="alpha-btn-xl hero-btn">Bid Now</a>
                                </div>
                            </div>
                            <div class="col-lg-6 text-center mt-4 mt-lg-0">
                                <div class="slide-image d-inline-block position-relative position-relative">
                                    <img src="~/assets/images/hero/featured-product1.png" alt class="img-fluid">
                                    <div class="slide-img-shape position-absolute position-absolute top-0 d-none d-md-block ">
                                        <img src="~/assets/images/shape/hero-shape1.png" alt>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="social-icon-area">
                    <li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
                    <li><a href="https://twitter.com/"><i class="bx bxl-twitter"></i></a></li>
                    <li><a href="https://www.pinterest.com/"><i class="bx bxl-pinterest"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="bx bxl-instagram"></i></a></li>
                </ul>
            </div>
            <div class="swiper-slide position-relative">
                <div class="slide-background">
                    <div class="row h-100 background-border-row">
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                        <div class="col bg-border-right"></div>
                    </div>
                </div>
                <div class="slide-content-wrap">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="slide-content">
                                    <h2 class="main-title">
                                        The Xa-023
                                        New Products 2021
                                    </h2>
                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting remained essentially unchanged</p>
                                    <a href="auction-details.html" class="alpha-btn-xl hero-btn">Bid Now</a>
                                </div>
                            </div>
                            <div class="col-lg-6 text-center mt-4 mt-lg-0">
                                <div class="slide-image d-inline-block position-relative position-relative">
                                    <img src="~/assets/images/hero/featured-product2.png" alt class="img-fluid">
                                    <div class="slide-img-shape position-absolute position-absolute top-0 d-none d-md-block">
                                        <img src="~/assets/images/shape/hero-shape1.png" alt>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="social-icon-area">
                    <li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
                    <li><a href="https://twitter.com/"><i class="bx bxl-twitter"></i></a></li>
                    <li><a href="https://www.pinterest.com/"><i class="bx bxl-pinterest"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="bx bxl-instagram"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="slider-arrows slider1-arrows text-center d-lg-flex d-none justify-content-start gap-4">
            <div class="hero-prev1 swiper-prev-arrow" tabindex="0" role="button" aria-label="Previous slide"> <i class="bi bi-arrow-left"></i> </div>
            <div class="hero-next1 swiper-next-arrow" tabindex="0" role="button" aria-label="Next slide"><i class="bi bi-arrow-right"></i></div>
        </div>
    </div>
</div>


<div class="banner-area banner-style-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="banner-style-alpha style-one d-flex align-items-end">
                    <div class="text-start">

                        <h4 class="title-fill">
                            <a href="auction-details.html">
                                Centuries of Cameos
                            </a>
                        </h4>
                        <p>A tradition that began in the 15th/16th century</p>
                        <a href="auction-details.html" class="banner-btn">Bid Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="banner-style-alpha style-two d-flex align-items-center">
                    <div class="text-start">
                        <h4 class="title-static">
                            <a href="#">
                                Bruton Decorative Antiques Fair-2017
                            </a>
                        </h4>
                        <p>Best Saleing Product</p>
                        <a href="auction-details.html" class="banner-btn">Bid Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="top-product-area mt-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-header">
                    <span>Choose The Best</span>
                    <h2>Deals of This Week</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="product-card product-alpha-x">
                    <div class="product-lavel">
                        <span>ID 0195321</span>
                    </div>
                    <div class="product-image">
                        <div class="product">
                            <a href="auction-details.html">
                                <img src="~/assets/images/product/p1.jpg" alt class="img-fluid" style="max-width: 100%;
    height: auto;">
                            </a>
                        </div>
                        <a href="auction-details.html" class="bid-btn-primary">Place A Bid</a>
                    </div>
                    <div class="product-info">
                        <h6 class="product-title"><a href="auction-details.html">L’opera Collector Plate</a></h6>
                        <h6 class="cv">Current Bid <span>$85.00</span></h6>
                        <div class="product-countdown" id="timer">
                            <div class="countdown-single">
                                <h4 id="days">05</h4>
                                <span>Days</span>
                            </div>
                            <div class="countdown-single">
                                <h4 id="hours">25</h4>
                                <span>Hours</span>
                            </div>
                            <div class="countdown-single">
                                <h4 id="minutes">50</h4>
                                <span>Mins</span>
                            </div>
                            <div class="countdown-single">
                                <h4 id="seconds">20</h4>
                                <span>Secs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="product-card product-alpha-y">
                            <div class="product-lavel">
                                <span>ID 0195322</span>
                            </div>
                            <div class="product-image">
                                <img src="~/assets/images/product/p2.jpg" alt class="img-fluid" style="max-width: 100%;
height: auto;">
                            </div>
                            <div class="product-info">
                                <h6 class="product-title"><a href="auction-details.html">Brass Reclining Deer</a></h6>
                                <h6 class="cv">Current Bid <span>$89.00</span></h6>
                                <div class="product-countdown" id="timer1">
                                    <div class="countdown-single">
                                        <h4 id="days1">05</h4>
                                        <span>Days</span>
                                    </div>
                                    <div class="countdown-single">
                                        <h4 id="hours1">25</h4>
                                        <span>Hours</span>
                                    </div>
                                    <div class="countdown-single">
                                        <h4 id="minutes1">50</h4>
                                        <span>Mins</span>
                                    </div>
                                    <div class="countdown-single">
                                        <h4 id="seconds1">20</h4>
                                        <span>Secs</span>
                                    </div>
                                </div>
                                <a href="auction-details.html" class="bid-btn-primary bid-btn">Place A Bid</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="product-card product-alpha-y">
                            <div class="product-lavel">
                                <span>ID 0195325</span>
                            </div>
                            <div class="product-image">
                                <img src="~/assets/images/product/p3.jpg" alt class="img-fluid" style="max-width: 100%;
height: auto;">
                            </div>
                            <div class="product-info">
                                <h6 class="product-title"><a href="auction-details.html">Plaque Depicting The Virgin Mary</a></h6>
                                <h6 class="cv">Current Bid <span>$73.00</span></h6>
                                <div class="product-countdown" id="timer2">
                                    <div class="countdown-single">
                                        <h4 id="days2">05</h4>
                                        <span>Days</span>
                                    </div>
                                    <div class="countdown-single">
                                        <h4 id="hours2">25</h4>
                                        <span>Hours</span>
                                    </div>
                                    <div class="countdown-single">
                                        <h4 id="minutes2">50</h4>
                                        <span>Mins</span>
                                    </div>
                                    <div class="countdown-single">
                                        <h4 id="seconds2">20</h4>
                                        <span>Secs</span>
                                    </div>
                                </div>
                                <a href="auction-details.html" class="bid-btn-primary bid-btn">Place A Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="product-card product-alpha-y">
                            <div class="product-lavel">
                                <span>ID 0195354</span>
                            </div>
                            <div class="product-image">
                                <img src="~/assets/images/product/p4.jpg" alt class="img-fluid" style="max-width: 100%;
height: auto;">
                            </div>
                            <div class="product-info">
                                <h6 class="product-title"><a href="auction-details.html">Porcelain Mantel Clock</a></h6>
                                <h6 class="cv">Current Bid <span>$55.00</span></h6>
                                <div class="product-countdown" id="timer3">
                                    <div class="countdown-single">
                                        <h4 id="days3">05</h4>
                                        <span>Days</span>
                                    </div>
                                    <div class="countdown-single">
                                        <h4 id="hours3">25</h4>
                                        <span>Hours</span>
                                    </div>
                                    <div class="countdown-single">
                                        <h4 id="minutes3">50</h4>
                                        <span>Mins</span>
                                    </div>
                                    <div class="countdown-single">
                                        <h4 id="seconds3">20</h4>
                                        <span>Secs</span>
                                    </div>
                                </div>
                                <a href="auction-details.html" class="bid-btn-primary bid-btn">Place A Bid</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="product-card product-alpha-y">
                            <div class="product-lavel">
                                <span>ID 0195368</span>
                            </div>
                            <div class="product-image">
                                <img src="~/assets/images/product/p5.jpg" alt class="img-fluid" style="max-width: 100%;
height: auto;">
                            </div>
                            <div class="product-info">
                                <h6 class="product-title"><a href="auction-details.html">Ormolu Mounted Sevres</a></h6>
                                <h6 class="cv">Current Bid <span>$90.00</span></h6>
                                <div class="product-countdown" id="timer4">
                                    <div class="countdown-single">
                                        <h4 id="days4">05</h4>
                                        <span>Days</span>
                                    </div>
                                    <div class="countdown-single">
                                        <h4 id="hours4">25</h4>
                                        <span>Hours</span>
                                    </div>
                                    <div class="countdown-single">
                                        <h4 id="minutes4">50</h4>
                                        <span>Mins</span>
                                    </div>
                                    <div class="countdown-single">
                                        <h4 id="seconds4">20</h4>
                                        <span>Secs</span>
                                    </div>
                                </div>
                                <a href="auction-details.html" class="bid-btn-primary bid-btn">Place A Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card product-alpha-x">
                    <div class="product-lavel">
                        <span>ID 0195391</span>
                    </div>
                    <div class="product-image">
                        <div class="product">
                            <a href="auction-details.html">
                                <img src="~/assets/images/product/p6.jpg" alt class="img-fluid" style="max-width: 100%;
    height: auto;">
                            </a>
                        </div>
                        <a href="auction-details.html" class="bid-btn-primary">Place A Bid</a>
                    </div>
                    <div class="product-info">
                        <h6 class="product-title">
                            <a href="auction-details.html">
                                Cabinet Plate
                            </a>
                        </h6>
                        <h6 class="cv">Current Bid <span>$75.00</span></h6>
                        <div class="product-countdown" id="timer5">
                            <div class="countdown-single">
                                <h4 id="days5">05</h4>
                                <span>Days</span>
                            </div>
                            <div class="countdown-single">
                                <h4 id="hours5">25</h4>
                                <span>Hours</span>
                            </div>
                            <div class="countdown-single">
                                <h4 id="minutes5">50</h4>
                                <span>Mins</span>
                            </div>
                            <div class="countdown-single">
                                <h4 id="seconds5">20</h4>
                                <span>Secs</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="up-coming-area mt-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-header">
                    <span>Up coming</span>
                    <h2>Up Coming Auction</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="product-card product-gamma-x">
                    <div class="product">
                        <img src="~/assets/images/product/p7.jpg" alt class="img-fluid" style="max-width: 100%;
height: auto;">
                    </div>
                    <div class="product-info">
                        <h6 class="product-title">
                            <a href="auction-details.html">
                                Pair Of Allegorical Oil Paintings
                            </a>
                        </h6>
                        <p class="id">Auction ID: <span>20202025463695</span></p>
                        <div class="product-auction">
                            <div class="cv">
                                <div class="bid-icon">
                                    <img src="~/assets/images/icon/bid-sm.svg" alt>
                                </div>
                                <div class="bid-value">
                                    <span>Current Bid</span>
                                    <h6>$1000.99</h6>
                                </div>
                            </div>
                            <div class="countdown" id="week-countdown1">
                                <h6> </h6>
                                <span>Waiting For Bid</span>
                            </div>
                        </div>
                        <a href="auction-details.html" class="bid-btn">View Product</a>
                    </div>
                </div>
                <div class="product-card product-gamma-x">
                    <div class="product">
                        <img src="~/assets/images/product/p8.jpg" alt class="img-fluid" style="max-width: 100%;
height: auto;">
                    </div>
                    <div class="product-info">
                        <h6 class="product-title">
                            <a href="auction-details.html">
                                Silvered And Gilt Bronze
                            </a>
                        </h6>
                        <p class="id">Auction ID: <span>20202025463696</span></p>
                        <div class="product-auction">
                            <div class="cv">
                                <div class="bid-icon">
                                    <img src="~/assets/images/icon/bid-sm.svg" alt>
                                </div>
                                <div class="bid-value">
                                    <span>Current Bid</span>
                                    <h6>$1100.99</h6>
                                </div>
                            </div>
                            <div class="countdown" id="week-countdown2">
                                <h6> </h6>
                                <span>Waiting For Bid</span>
                            </div>
                        </div>
                        <a href="auction-details.html" class="bid-btn">View Product</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-card product-gamma-x">
                    <div class="product">
                        <img src="~/assets/images/product/p9.jpg" alt class="img-fluid" style="max-width: 100%;
height: auto;">
                    </div>
                    <div class="product-info">
                        <h6 class="product-title"><a href="auction-details.html">The Succsessfull Suitor</a></h6>
                        <p class="id">Auction ID: <span>20202025463697</span></p>
                        <div class="product-auction">
                            <div class="cv">
                                <div class="bid-icon">
                                    <img src="~/assets/images/icon/bid-sm.svg" alt>
                                </div>
                                <div class="bid-value">
                                    <span>Current Bid</span>
                                    <h6>$2000.99</h6>
                                </div>
                            </div>
                            <div class="countdown" id="week-countdown3">
                                <h6> </h6>
                                <span>Waiting For Bid</span>
                            </div>
                        </div>
                        <a href="auction-details.html" class="bid-btn">View Product</a>
                    </div>
                </div>
                <div class="product-card product-gamma-x">
                    <div class="product">
                        <img src="~/assets/images/product/p10.jpg" alt class="img-fluid" style="max-width: 100%;
height: auto;">
                    </div>
                    <div class="product-info">
                        <h6 class="product-title">
                            <a href="auction-details.html">
                                Sèvres Clock Set
                            </a>
                        </h6>
                        <p class="id">Auction ID: <span>20202025463728</span></p>
                        <div class="product-auction">
                            <div class="cv">
                                <div class="bid-icon">
                                    <img src="~/assets/images/icon/bid-sm.svg" alt>
                                </div>
                                <div class="bid-value">
                                    <span>Current Bid</span>
                                    <h6>$2300.99</h6>
                                </div>
                            </div>
                            <div class="countdown" id="week-countdown4">
                                <h6> </h6>
                                <span>Waiting For Bid</span>
                            </div>
                        </div>
                        <a href="auction-details.html" class="bid-btn">View Product</a>
                    </div>
                </div>
            </div>
            <div class="view-btn text-center mt-50">
                <a href="auction.html" class="alpha-btn-md">View All</a>
            </div>
        </div>
    </div>
</div>







<div class="top-winner-area top-winnner-style-one mt-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-header">
                    <span>Winner</span>
                    <h2>Auction Top Winners</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="winner-card winner-alpha">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-1.png" alt class="img-fluid">
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name"><a href="winner.html">Brooklyn Simmons</a></h5>
                        <p class="id">ID: <span>0195610</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="winner-card winner-alpha">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-2.png" alt class="img-fluid">
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name"><a href="winner.html">Cameron Williamson</a></h5>
                        <p class="id">ID: <span>0195654</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="winner-card winner-alpha">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-3.png" alt class="img-fluid">
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name"><a href="winner.html">Marvin McKinney</a></h5>
                        <p class="id">ID: <span>0195635</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="winner-card winner-alpha">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-4.png" alt class="img-fluid">
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name"><a href="winner.html">Savannah Nguyen</a></h5>
                        <p class="id">ID: <span>0195576</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="testimonial-area testimonial-style-one mt-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-header">
                    <span>
                        Testimonial<span>
                            <h2>Auction Winners Say</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-wrap">
                    <div class="swiper testimonial-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="single-testimonial">
                                    <div class="quote-icon">
                                        <i class="bx bxs-quote-left"></i>
                                    </div>
                                    <ul class="review-rating d-flex">
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                    </ul>
                                    <p>I've had a positive experience using the Bid Spirit Antique Auction website, finding it generally user-friendly and well-suited for antique enthusiasts like me. The platform's elegant design aligns with the theme of antique auctions, but small improvements in mobile responsiveness and additional search filters would enhance the user experience. Clearer item descriptions, detailed images, and a more informative bidding process would make the platform even more engaging. Improved communication through notifications and a user feedback mechanism would strengthen user engagement. Despite these suggestions, I appreciate the platform's commitment to antique auctions and look forward to its future developments." </p>
                                    <div class="single-reviewer">
                                        <div class="reviewer">
                                            <div class="reviewer"><img src="~/assets/images/testimonial/reviewer1.png" alt></div>
                                        </div>
                                        <div class="reviewer-disc">
                                            <h4><a href="winner.html">Cameron Williamson</a></h4>
                                            <span>Co-Founder of CNF</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-testimonial">
                                    <div class="quote-icon">
                                        <i class="bx bxs-quote-left"></i>
                                    </div>
                                    <ul class="review-rating d-flex">
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                    </ul>
                                    <p>"Bid Spirit has been a pleasant experience for me as an antique enthusiast. The website's elegant design aligns with the antique theme, but minor adjustments could enhance its user-friendliness. A more comprehensive search and filtering system, along with improved item descriptions and detailed images, would make it even more enticing for users. A clearer bidding process, improved communication, and expanded customer support options would enhance the overall user experience. Despite these suggestions, I appreciate Bid Spirit's dedication to antique auctions and look forward to its continued growth and refinement." </p>
                                    <div class="single-reviewer">
                                        <div class="reviewer">
                                            <div class="reviewer"><img src="~/assets/images/testimonial/reviewer2.png" alt></div>
                                        </div>
                                        <div class="reviewer-disc">
                                            <h4><a href="winner.html">Samuel Xavien</a></h4>
                                            <span>FB Project Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-testimonial">
                                    <div class="quote-icon">
                                        <i class="bx bxs-quote-left"></i>
                                    </div>
                                    <ul class="review-rating d-flex">
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                    </ul>
                                    <p>"I've enjoyed using the Bid Spirit Antique Auction website, which offers an elegant design and a solid platform for antique enthusiasts. However, there's room for improvement, particularly in terms of search and filtering options, detailed item descriptions, and a more user-friendly bidding process. Enhancing communication through notifications and expanding support channels would contribute to a better overall experience. Despite these suggestions, I'm grateful for Bid Spirit's dedication to the antique auction community and eagerly anticipate its future enhancements." </p>
                                    <div class="single-reviewer">
                                        <div class="reviewer">
                                            <div class="reviewer"><img src="~/assets/images/testimonial/reviewer3.png" alt></div>
                                        </div>
                                        <div class="reviewer-disc">
                                            <h4><a href="winner.html">Darlene Robertson</a></h4>
                                            <span>CEO, SNG Accountants</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slider-arrows text-center d-lg-flex d-none  justify-content-end">
                        <div class="testi-prev swiper-prev-arrow" tabindex="0" role="button" aria-label="Previous slide"> <i class="bi bi-arrow-left"></i> </div>
                        <div class="testi-next swiper-next-arrow" tabindex="0" role="button" aria-label="Next slide"><i class="bi bi-arrow-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

