﻿
@{
    ViewData["Title"] = "IndexLand";
    Layout = "~/Views/Shared/headfoot.cshtml";
}


<!doctype html>
<html lang="en">
<head>
<title>Bidgen - Bid and Auction HTML Template</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="~/assets/css/magnific-popup.css">

<link rel="stylesheet" href="~/assets/css/nice-select.css">

<link rel="stylesheet" href="~/assets/css/style2.css">
<link rel="stylesheet" href="~/assets/css/responsive.css">
</head>
<body>
<div class="preloader">
<div class="loader">
<span></span>
<span></span>
<span></span>
<span></span>
</div>
</div>




<div class="menu-toggle-btn-full-shape">
<div class="menu-toggle-wrap bg-white">
<div class="sidebar-top-area d-flex justify-content-between align-items-center">
<div class="cross-icon">
<i class="bx bx-x"></i>
</div>
<div class="sidebar-logo">
<a href="index.html"><img src="~/assets/images/icon/sidebar-logo.png" alt></a>
</div>
</div>
<div class="sidebar-body">
<h5>Our Social Site</h5>
<ul class="sidebar-social">
<li><a href="https://www.facebook.com"><i class="bx bxl-facebook"></i><span>facebook.com/egenstheme</span></a></li>
<li><a href="https://twitter.com"><i class="bx bxl-twitter"></i><span>twitter.com/egenstheme/</span></a></li>
<li><a href="https://www.instagram.com"><i class="bx bxl-instagram"></i><span>instagram.com/egenstheme/</span></a></li>
<li><a href="https://www.pinterest.com"><i class="bx bxl-pinterest-alt"></i><span>pinterest.com/egenstheme/</span></a></li>
</ul>
</div>
<div class="sidebar-bottom">
<p>Need Any Help? Please Mail Us!</p>
<a href="#"><span><i class="bx bx-envelope"></i><span class="__cf_email__" data-cfemail="3b52555d547b5e5c5e55484f535e565e15585456">[email&#160;protected]</span></span></a>
</div>
</div>
<div class="sidebar-bottom-icon">
<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0_1687_55" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="41">
<rect width="39.8116" height="41" fill="#C4C4C4" />
</mask>
<g mask="url(#mask0_1687_55)">
<path d="M30.6961 2.43256L1.93437 23.5151C0.104333 24.8566 -0.246827 27.4996 1.15152 29.4073L16.3665 50.1642C17.7648 52.0719 20.391 52.5325 22.221 51.1911L50.9828 30.1085C52.8128 28.7671 53.164 26.1241 51.7657 24.2164L36.5507 3.45945C35.1523 1.55176 32.5262 1.09113 30.6961 2.43256ZM32.3867 4.73888C32.537 4.62871 32.7038 4.55641 32.8761 4.51736L27.8759 28.7454L3.26629 26.2216C3.35545 26.0691 3.47455 25.9317 3.62484 25.8215L32.3867 4.73888ZM49.2922 27.8021L20.5304 48.8847C19.9201 49.3321 19.0453 49.1787 18.5789 48.5424L4.37018 29.1583L28.9084 31.6743C29.2548 31.7094 29.5815 31.6137 29.8397 31.4245C30.0979 31.2352 30.2876 30.9525 30.3582 30.6116L35.3445 6.45391L49.5532 25.8381C50.0195 26.4744 49.9026 27.3547 49.2922 27.8021Z" />
</g>
</svg>
</div>
</div>





<div class="hero-style-four">
<div class="container-fluid p-0">
<div class="swiper swiper-container">
<div class="swiper-wrapper ">
<div class="swiper-slide hero-single-slide d-lg-grid d-block">
<div class="hero-content-layer align-items-center justify-content-center">
<div class="hero-content">
<h1 class="hero-title">
Apartment
</h1>
<div class="featured-apartment">
<ul class="apartment-disc">
<li><strong>Bedroom 1 :</strong> 2 single beds</li>
<li> <strong>Bedroom 2 :</strong> 1 large double bed</li>
<li> <strong>Living room :</strong> 1 sofa bed</li>
<li>This apartment features a balcony, sofa and electric kettle.</li>
</ul>
<div class="features d-flex flex-wrap justify-content-between">
<ul class="feature-list">
<li><i class="bx bx-check"></i> AIR CONDITIONING</li>
<li><i class="bx bx-check"></i> BALCONY</li>
<li><i class="bx bx-check"></i> DINING AREA</li>
</ul>
<ul class="feature-list">
<li><i class="bx bx-check"></i> BABY SAFETY GATES</li>
<li><i class="bx bx-check"></i> CLEANING PRODUCTS</li>
<li><i class="bx bx-check"></i> CITY VIEW</li>
</ul>
</div>
<div class="featured-bottom d-flex gap-3 flex-wrap align-items-center">
<h3 class="price pe-5"><span>Start In</span>$3000</h3>
<div class="bid-btn ps-sm-5 ps-0">
<a href="auction-details.html" class="aprt-btn-alpha">Bid Now</a>
</div>
</div>
</div>
</div>
</div>
<div class="hero-highlighted-bg d-none d-lg-block">
<img src="~/assets/images/banner/apertment-banner1.png" alt>
</div>
</div>
<div class="swiper-slide hero-single-slide d-lg-grid d-block">
<div class="hero-content-layer align-items-center justify-content-center">
<div class="hero-content">
<h1 class="hero-title">
Flat
</h1>
<div class="featured-apartment">
<ul class="apartment-disc">
<li><strong>Bedroom 2 :</strong> 2 single beds</li>
<li> <strong>Bedroom 1 :</strong> 1 large bed</li>
<li> <strong>Living room :</strong> 1 TV bed</li>
<li>This falt features a kitchen, stove and electric cooker.</li>
</ul>
<div class="features d-flex flex-wrap justify-content-between">
<ul class="feature-list">
<li><i class="bx bx-check"></i> AIR CONDITIONING</li>
<li><i class="bx bx-check"></i> BALCONY</li>
<li><i class="bx bx-check"></i> DINING AREA</li>
</ul>
<ul class="feature-list">
<li><i class="bx bx-check"></i> BABY SAFETY GATES</li>
<li><i class="bx bx-check"></i> CLEANING PRODUCTS</li>
<li><i class="bx bx-check"></i> CITY VIEW</li>
</ul>
</div>
<div class="featured-bottom d-flex gap-3 flex-wrap align-items-center">
<h3 class="price pe-5"><span>Start In</span>$2500</h3>
<div class="bid-btn ps-sm-5 ps-0">
<a href="auction-details.html" class="aprt-btn-alpha">Bid Now</a>
</div>
</div>
</div>
</div>
</div>
<div class="hero-highlighted-bg d-none d-lg-block">
<img src="~/assets/images/banner/apertment-banner2.png" alt>
</div>
</div>
<div class="swiper-slide hero-single-slide d-lg-grid d-block">
<div class="hero-content-layer align-items-center justify-content-center">
<div class="hero-content">
<h1 class="hero-title">
House
</h1>
<div class="featured-apartment">
<ul class="apartment-disc">
<li><strong>Dining 1 :</strong> 2 single beds</li>
<li> <strong>Bedroom 2 :</strong> 1 large double bed</li>
<li> <strong>Living room :</strong> 1 sofa bed</li>
<li>This apartment features a balcony, sofa and electric kettle.</li>
</ul>
<div class="features d-flex flex-wrap justify-content-between">
<ul class="feature-list">
<li><i class="bx bx-check"></i> AIR CONDITIONING</li>
<li><i class="bx bx-check"></i> BALCONY</li>
<li><i class="bx bx-check"></i> DINING AREA</li>
</ul>
<ul class="feature-list">
<li><i class="bx bx-check"></i> FIRE SAFETY GATES</li>
<li><i class="bx bx-check"></i> PRODUCTS</li>
<li><i class="bx bx-check"></i> SEA VIEW</li>
</ul>
</div>
<div class="featured-bottom d-flex gap-3 flex-wrap align-items-center">
<h3 class="price pe-5"><span>Start In</span>$2000</h3>
<div class="bid-btn ps-sm-5 ps-0">
<a href="auction-details.html" class="aprt-btn-alpha">Bid Now</a>
</div>
</div>
</div>
</div>
</div>
<div class="hero-highlighted-bg d-none d-lg-block">
<img src="~/assets/images/banner/apertment-banner3.png" alt>
</div>
</div>
</div>
</div>
</div>



<div class="swiper-progress-bar">
<div class="progress"></div>
<div class="progress-sections"></div>
</div>
</div>


<div class="search-section">
<div class="container">
<form class="search-form">
<div class="row d-md-flex justify-content-center">
<div class="col-lg-3 col-sm-6 col-12 px-0 border--right d-flex justify-content-center">
<div class="form-inner">
<label>Location</label>
<input type="text" placeholder="Location Name">
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12 px-0 border--right d-flex justify-content-center">
<div class="form-inner">
<label>Property Type</label>
<select>
<option>Any</option>
<option>All</option>
<option>Old</option>
<option>Latest</option>
</select>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12 px-0 border--right d-flex justify-content-center">
<div class="form-inner">
<label>Price Range</label>
<select>
<option>Choose A Price</option>
<option>High</option>
<option>Low</option>
</select>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12 px-0 d-flex align-items-center justify-content-sm-start justify-content-center">
<div class="form-inner border-end-0">
<button class="explore-btn">Explore Now</button>
</div>
</div>
</div>
</form>
</div>
</div>


<div class="live-land-auction pt-110">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="land-section-header mx-auto mb-60">
<h2>Live Auction</h2>
<p>Integer ante tellus, bibendum eget ante ut, aliquet luctus quam. Integer eget ex hendrerit
mattis mauris. Vestibulum ante ipsum primis in faucibus orci luctus et.</p>
</div>
</div>
</div>
<div class="row g-4">
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md1.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>Appartment</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">The Crescent, Dublin 18,buile
County flat Apartment.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$2200</ins>
</div>
<div class="countdown">
<p>Bid Start In</p>
<div class="countdown" id="timer10">
<h6><span id="hours10"></span>Hours : <span id="minutes10"></span>Min : <span id="seconds10"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md2.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>Flat</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">vitae dictum ante tellus non metus Praesent
imperdiet.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$2500</ins>
</div>
<div class="countdown">
<p>Bid Start In</p>
<div class="countdown" id="timer11">
<h6><span id="hours11"></span>Hours : <span id="minutes11"></span>Min : <span id="seconds11"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md3.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>Land</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">sollicitudin dignissim, risus exel hendrerit
tellus.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$2450</ins>
</div>
<div class="countdown">
<p>Bid Start In</p>
<div class="countdown" id="timer23">
<h6><span id="hours23"></span>Hours : <span id="minutes23"></span>Min : <span id="seconds23"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md4.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>House</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">Phasellus placerat ultrices in nisi, euporta
justo.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$1990</ins>
</div>
<div class="countdown">
<p>Bid Start In</p>
<div class="countdown" id="timer24">
<h6><span id="hours24"></span>Hours : <span id="minutes24"></span>Min : <span id="seconds24"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md5.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>Appartment</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">Maecenas sit amet placerat felis nece finibus
neque.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$2000</ins>
</div>
<div class="countdown">
<p>Bid Start In</p>
<div class="countdown" id="timer25">
<h6><span id="hours25"></span>Hours : <span id="minutes25"></span>Min : <span id="seconds25"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md6.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>Flat</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">Nam in arcu eu, dolor rutrum auctor non in
mauris.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$2010</ins>
</div>
<div class="countdown">
<p>Bid Start In</p>
<div class="countdown" id="timer26">
<h6><span id="hours26"></span>Hours : <span id="minutes26"></span>Min : <span id="seconds26"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row mt-50 justify-content-center ">
<div class="col-md-4 text-center">
<a href="auction.html" class="land-auction-btn">All Live Auction</a>
</div>
</div>
</div>
</div>


<div class="upcoming-land-auction-area  pt-110">
<div class="container position-relative">
<div class="row">
<div class="col-lg-12">
<div class="land-section-header mx-auto mb-60">
<h2>Upcoming Auction</h2>
<p>Integer ante tellus, bibendum eget ante ut, aliquet luctus quam. Integer eget ex hendrerit
mattis mauris. Vestibulum ante ipsum primis in faucibus orci luctus et.</p>
</div>
</div>
</div>
<div class="row">
<div class="swiper upcoming-land-auction swiper-negetive-space-x ">
<div class="swiper-wrapper pb-1">
<div class="swiper-slide">
<div class="land-auction-card">
<img src="~/assets/images/icon/bid-icon.svg" alt class="bid-icon">
<div class="acution-bg">
<img src="~/assets/images/banner/acution-card-bg.png" alt>
</div>
<h3 class="auction-date"><span>05</span> Novembar</h3>
<ul class="auction-info">
<li>
<h5>Bid Start In :</h5>
<div class="countdown" id="timer21">
<h6><span id="days21"></span> Days : <span id="hours21"></span> Hours : <span id="minutes21"></span> Min : <span id="seconds21"></span> Sec</h6>
</div>
</li>
<li>
<h5>Location :</h5>
<h6>Carrickmines, Dublin</h6>
</li>
</ul>
<div class="auction-bottom">
<div class="venue">
<span>Venue :</span>
<h5>Online</h5>
</div>
<a href="auction-details.html" class="view-btn">View Details</a>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="land-auction-card">
<img src="~/assets/images/icon/bid-icon.svg" alt class="bid-icon">
<div class="acution-bg">
<img src="~/assets/images/banner/acution-card-bg.png" alt>
</div>
<h3 class="auction-date"><span>06</span> Novembar</h3>
<ul class="auction-info">
<li>
<h5>Bid Start In :</h5>
<div class="countdown" id="timer13">
<h6><span id="days13"></span> Days : <span id="hours13"></span> Hours : <span id="minutes13"></span> Min : <span id="seconds13"></span> Sec</h6>
</div>
</li>
<li>
<h5>Location :</h5>
<h6>Carrickmines, Dublin</h6>
</li>
</ul>
<div class="auction-bottom">
<div class="venue">
<span>Venue :</span>
<h5>Online</h5>
</div>
<a href="auction-details.html" class="view-btn">View Details</a>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="land-auction-card">
<img src="~/assets/images/icon/bid-icon.svg" alt class="bid-icon">
<div class="acution-bg">
<img src="~/assets/images/banner/acution-card-bg.png" alt>
</div>
<h3 class="auction-date"><span>07</span> Novembar</h3>
<ul class="auction-info">
<li>
<h5>Bid Start In :</h5>
<div class="countdown" id="timer15">
<h6><span id="days15"></span> Days : <span id="hours15"></span> Hours : <span id="minutes15"></span> Min : <span id="seconds15"></span> Sec</h6>
</div>
</li>
<li>
<h5>Location :</h5>
<h6>Carrickmines, Dublin</h6>
</li>
</ul>
<div class="auction-bottom">
<div class="venue">
<span>Venue :</span>
<h5>Online</h5>
</div>
<a href="auction-details.html" class="view-btn">View Details</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="slider-arrows text-center d-lg-flex d-none  justify-content-end">
<div class="upcoming-prev swiper-prev-arrow" tabindex="0"> <img src="~/assets/images/icon/swiper-left2.svg" alt> </div>
<div class="upcoming-next swiper-next-arrow" tabindex="0"> <img src="~/assets/images/icon/swiper-right2.svg" alt></div>
</div>
</div>
</div>


<div class="land-banner-area pt-110">
<div class="container-fluid">
            <div class="row g-4">
                <div class="card col-lg-6 pe-lg-0 d-flex align-items-center card-centered" style="width: 25rem;">
                    <img class="card-img-top" src="~/assets/images/banner/land-banner1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                <div class="card col-lg-6 pe-lg-0 d-flex align-items-center card-centered" style="width: 25rem;">
                    <img class="card-img-top" src="~/assets/images/banner/land-banner2.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

</div>
</div>


<div class="category-land-auction-area pt-110">
<div class="container">
<div class="row g-4 mb-60">
<div class="col-lg-6">
<div class="land-section-header text-start">
<h2>Category Auction</h2>
                        <p>Category auctions for bid spirit are dynamic platforms where individuals or businesses compete to acquire specific items or services within a designated category.</p>
</div>
</div>
<div class="col-lg-6 position-relative">
<div class="land-category-tabs nav nav-tabs">
<div class="nav-link active border-0" id="nav-home-tab" data-bs-toggle="tab" role="tablist" data-bs-target="#nav-home" aria-controls="nav-home">
<div class="cate-icon">
<svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
<path d="M10.0547 0.109375C9.4375 0.335938 8.96094 0.804688 8.76562 1.39844C8.69531 1.59375 8.67187 3.45312 8.67187 8.17188V14.6875H6.35156C4.07812 14.6875 4.01562 14.6953 3.63281 14.875C3.16406 15.0859 2.80469 15.4844 2.625 15.9453C2.55469 16.1406 1.94531 20.3516 1.24219 25.4219L-0.0078125 34.5625L0.015625 36.5547C0.0390625 38.4297 0.046875 38.5703 0.210937 38.8672C0.40625 39.2344 0.789062 39.6094 1.17187 39.8125C1.4375 39.9531 2.05469 39.9609 20 39.9609H38.5547L38.8672 39.7891C39.2344 39.5938 39.6094 39.2109 39.8125 38.8281C39.9453 38.5859 39.9609 38.3281 39.9844 36.5625L40.0078 34.5703L38.7578 25.5078C38.0703 20.5234 37.4531 16.2656 37.3906 16.0547C37.2344 15.5391 36.8906 15.1406 36.3906 14.8906L35.9844 14.6875H33.6562H31.3281L31.3125 8.0625C31.2891 1.82812 31.2812 1.42969 31.1484 1.15625C30.9531 0.773438 30.5547 0.375 30.1875 0.1875C29.8906 0.046875 29.5703 0.0390625 20.1172 0.0234375C12.0547 0.0078125 10.2969 0.0234375 10.0547 0.109375ZM29.7734 1.55469L30 1.78125V8.67188V15.5625L29.7734 15.7891L29.5469 16.0156H20H10.4531L10.2266 15.7891L10 15.5625V8.67188V1.78125L10.2266 1.55469L10.4531 1.32812H20H29.5469L29.7734 1.55469ZM8.86719 16.1797C8.95312 16.4375 9.44531 16.9453 9.79687 17.1328C10.1094 17.3047 10.1875 17.3047 13.7344 17.3281L17.3437 17.3516V21.3281V25.3125H15.2969C13.8125 25.3125 13.1875 25.3438 13.0469 25.4141C12.625 25.625 12.5547 26.1484 12.8906 26.4844C13.0469 26.6406 13.1797 26.6406 20 26.6406C26.8203 26.6406 26.9531 26.6406 27.1094 26.4844C27.4453 26.1484 27.375 25.625 26.9531 25.4141C26.8125 25.3438 26.1875 25.3125 24.7109 25.3125H22.6562V21.3281V17.3516L26.2734 17.3281C29.8125 17.3047 29.8906 17.3047 30.2031 17.1328C30.5547 16.9453 31.0469 16.4375 31.1328 16.1797C31.1797 16.0156 31.2109 16.0156 33.4453 16.0156C35.7344 16.0156 35.9375 16.0391 36.0859 16.3125C36.125 16.3828 36.7266 20.5859 37.4219 25.6484L38.6953 34.8594L38.5391 35.0625L38.3828 35.2734H20H1.61719L1.46094 35.0625L1.30469 34.8594L2.57031 25.7266C3.25781 20.7109 3.82812 16.5625 3.82812 16.5156C3.82812 16.4688 3.91406 16.3359 4.02344 16.2188L4.21094 16.0156H6.51562C8.78906 16.0156 8.82031 16.0156 8.86719 16.1797ZM21.3281 21.3281V25.3125H20H18.6719V21.3281V17.3438H20H21.3281V21.3281ZM38.6719 37.4062C38.6719 38.1953 38.6641 38.2188 38.4453 38.4453L38.2187 38.6719H20H1.78125L1.55469 38.4453C1.33594 38.2188 1.32812 38.1953 1.32812 37.4062V36.6016H20H38.6719V37.4062Z" />
<path d="M11.5625 2.875C11.3125 3.125 11.2734 3.34375 11.4219 3.61719C11.5781 3.91406 11.7344 3.97656 12.3203 3.98438C12.7969 3.98438 12.9141 3.96094 13.0938 3.79688C13.375 3.5625 13.3984 3.125 13.1406 2.86719C13 2.73438 12.8594 2.69531 12.3828 2.67188C11.8203 2.64062 11.7969 2.64844 11.5625 2.875Z" />
<path d="M27.0312 2.75781C26.6094 2.96875 26.5547 3.53125 26.9297 3.82812C27.0859 3.95312 27.25 3.98438 27.6875 3.98438C28.2578 3.97656 28.4219 3.91406 28.5781 3.61719C28.7266 3.34375 28.6875 3.125 28.4453 2.88281C28.2422 2.67969 28.1641 2.65625 27.7187 2.65625C27.4453 2.65625 27.1406 2.70312 27.0312 2.75781Z" />
<path d="M19.6797 4.10158C19.4297 4.2344 19.2969 4.57815 19.2969 5.08596C19.2969 5.43752 19.2813 5.46096 18.961 5.64846C18.3672 6.00002 18.0469 6.59377 18.0469 7.35158C18.0469 7.89846 18.1641 8.22658 18.5078 8.61721C18.8672 9.02346 19.2188 9.21877 19.7813 9.30471C20.3906 9.40627 20.625 9.59377 20.625 10C20.625 10.2031 20.5703 10.336 20.4219 10.4766C20.2422 10.6485 20.1485 10.6641 19.3125 10.6875C18.6016 10.711 18.3672 10.75 18.25 10.8516C18.0156 11.0547 17.961 11.3047 18.0781 11.5938C18.2031 11.8828 18.5078 12.0313 18.9922 12.0313C19.2813 12.0313 19.2969 12.0391 19.2969 12.2813C19.2969 13.086 19.6953 13.4844 20.25 13.2578C20.5703 13.125 20.7031 12.8125 20.7031 12.211C20.7031 11.9297 20.7344 11.8594 20.9219 11.7656C21.2344 11.6016 21.6953 11.0938 21.836 10.7656C22 10.3594 21.9844 9.57033 21.8047 9.17971C21.5078 8.53127 20.9063 8.11721 20.1172 8.00783C19.6328 7.93752 19.375 7.71877 19.375 7.37502C19.375 6.76565 19.6094 6.64065 20.7656 6.64065C21.5469 6.64065 21.625 6.62502 21.7735 6.46096C22 6.21877 22.0391 6.05471 21.9375 5.78127C21.836 5.4844 21.5156 5.31252 21.0547 5.31252H20.7031V5.00783C20.7031 4.56252 20.5547 4.22658 20.3047 4.10158C20.0391 3.96096 19.9375 3.96096 19.6797 4.10158Z" />
<path d="M11.5625 13.5156C11.2266 13.8515 11.2969 14.3749 11.7188 14.5859C11.9844 14.7187 12.6953 14.7109 12.9609 14.5781C13.375 14.3593 13.4375 13.9062 13.1016 13.5312C12.9609 13.3828 12.8672 13.3593 12.3281 13.3593C11.8281 13.3593 11.6953 13.3828 11.5625 13.5156Z" />
<path d="M26.8984 13.5312C26.8125 13.6328 26.7109 13.789 26.6875 13.8828C26.6172 14.1093 26.8125 14.4765 27.0703 14.5937C27.3359 14.7187 28.0313 14.7109 28.2813 14.5859C28.7031 14.375 28.7734 13.8515 28.4375 13.5156C28.3047 13.3828 28.1719 13.3593 27.6719 13.3593C27.1328 13.3593 27.0391 13.3828 26.8984 13.5312Z" />
<path d="M32.9141 18.2188C32.5312 18.6484 31.9766 19.9062 31.7578 20.8203C31.6875 21.125 31.6094 21.4141 31.5937 21.4688C31.5781 21.5312 31.4453 21.4688 31.2031 21.2891C30.4141 20.6875 29.8594 20.5469 29.5547 20.875C29.1641 21.3203 29.2812 21.7109 29.9219 22.0312C30.1641 22.1562 30.4687 22.3438 30.5937 22.4531C30.9219 22.7266 31.25 23.3594 31.3047 23.8359C31.3672 24.375 31.5937 24.6406 31.9922 24.6406C32.3672 24.6406 32.6172 24.375 32.6797 23.875C32.7891 23.1172 33.2812 22.4609 34.0312 22.0859C34.5234 21.8359 34.6406 21.6953 34.6406 21.3516C34.6406 21.1484 34.5859 21.0234 34.4219 20.8906C34.1641 20.6641 33.9141 20.6562 33.5078 20.8672C33.3281 20.9531 33.1719 21.0078 33.1484 20.9844C33.0781 20.9141 33.3437 20.1875 33.7187 19.4219C34.0312 18.7734 34.0547 18.6797 33.9766 18.4531C33.875 18.1562 33.7031 18.0469 33.3359 18.0469C33.1641 18.0469 33.0234 18.1094 32.9141 18.2188Z" />
<path d="M8.86718 18.3125C8.5078 18.6719 7.93749 20.0078 7.65624 21.1563C7.5703 21.4922 7.56249 21.4922 7.39843 21.375C6.32811 20.6094 5.70311 20.4922 5.42968 21.0234C5.1953 21.4766 5.34374 21.7734 5.96093 22.0781C6.71874 22.4609 7.21093 23.1172 7.3203 23.875C7.3828 24.375 7.6328 24.6406 8.0078 24.6406C8.35936 24.6406 8.67186 24.3359 8.67186 23.9922C8.67186 23.3125 9.30468 22.4219 10.0312 22.0781C10.5859 21.8125 10.6641 21.7031 10.6328 21.2266C10.6172 21.0078 10.2656 20.7031 10.0312 20.7031C9.92186 20.7031 9.65624 20.7891 9.4453 20.8984C9.23436 21 9.06249 21.0703 9.06249 21.0547C9.06249 20.9531 9.49999 19.8281 9.71874 19.375C10.0156 18.7656 10.0078 18.5156 9.70311 18.2813C9.43749 18.0703 9.10155 18.0859 8.86718 18.3125Z" />
<path d="M8.39062 26.7266C8.0625 26.8906 7.34375 28.3985 7.0625 29.5313C6.98437 29.8516 6.91406 30.1328 6.90625 30.1406C6.89062 30.1563 6.73437 30.0703 6.54687 29.9375C6.02344 29.5781 5.57812 29.375 5.3125 29.375C4.98437 29.375 4.6875 29.6797 4.6875 30.0235C4.6875 30.3438 4.88281 30.5625 5.32812 30.7656C5.51562 30.8438 5.77344 31.0078 5.91406 31.125C6.21094 31.375 6.64062 32.1953 6.64062 32.5156C6.64062 33.0391 7.09375 33.4531 7.50781 33.2969C7.80469 33.1797 7.9375 32.9688 8.03906 32.4688C8.13281 31.9766 8.38281 31.4766 8.6875 31.1953C8.78125 31.1016 9.07812 30.9063 9.33594 30.7656C9.85937 30.4688 10.0469 30.211 9.96875 29.8985C9.84375 29.3906 9.32812 29.2344 8.75 29.5313C8.57812 29.6172 8.4375 29.6641 8.4375 29.625C8.4375 29.461 8.75781 28.6563 9.05469 28.0703C9.22656 27.711 9.375 27.3516 9.375 27.2578C9.375 27.0391 8.96094 26.6406 8.73437 26.6485C8.63281 26.6485 8.48437 26.6875 8.39062 26.7266Z" />
<path d="M33.6563 26.7969C33.2813 27.0859 32.5703 28.6953 32.3359 29.7578C32.2891 29.9766 32.2344 30.1563 32.2188 30.1563C32.1953 30.1563 32.0625 30.0703 31.9297 29.9688C31.5547 29.6875 30.9063 29.375 30.6797 29.375C30.3594 29.375 30.0469 29.6953 30.0469 30.0235C30.0469 30.3672 30.1797 30.5313 30.5938 30.7031C31.2969 31.0078 31.8125 31.6641 31.9609 32.4688C32.0625 32.9688 32.1953 33.1797 32.4922 33.2969C32.9063 33.4531 33.3594 33.0391 33.3594 32.5156C33.3594 32.1953 33.7891 31.375 34.0859 31.125C34.2266 31.0078 34.4922 30.8438 34.6719 30.7656C35.1484 30.5547 35.3125 30.3672 35.3125 30.0391C35.3125 29.4453 34.7656 29.2188 34.0859 29.5313C33.8984 29.6094 33.75 29.6641 33.75 29.6485C33.75 29.5156 34.2578 28.2578 34.4531 27.9219C34.7891 27.3203 34.75 26.9609 34.3203 26.7344C34.0781 26.6016 33.875 26.6172 33.6563 26.7969Z" />
<path d="M17.6953 29.3906C17.4609 29.5312 17.3516 29.7031 17.3438 29.9453C17.3438 30.2969 17.4688 30.4453 18.0391 30.7812C18.875 31.2656 19.0781 31.5703 19.375 32.7969C19.4453 33.0625 19.5156 33.1563 19.7188 33.25C19.9453 33.3594 20 33.3594 20.25 33.2578C20.4922 33.1563 20.5547 33.0781 20.6172 32.7969C20.9219 31.5703 21.1641 31.2031 21.9688 30.7812C22.5469 30.4687 22.6484 30.3594 22.6562 30.0156C22.6562 29.6797 22.3594 29.375 22.0312 29.375C21.6797 29.375 20.9453 29.7734 20.4375 30.2422L20 30.6406L19.6172 30.2656C18.9062 29.5547 18.0625 29.1719 17.6953 29.3906Z" />
</svg>
</div>
<span>Land</span>
</div>
<div class="nav-link border-0" id="nav-profile-tab" data-bs-toggle="tab" role="tablist" data-bs-target="#nav-profile" aria-controls="nav-profile">
<div class="cate-icon">
<svg width="40" height="36" viewBox="0 0 40 36" xmlns="http://www.w3.org/2000/svg">
<path d="M5.27344 1.03906C4.8125 1.3125 4.76562 1.46875 4.76562 2.73438C4.76562 3.76562 4.78125 3.89844 4.92969 4.10156C5.14844 4.41406 5.46875 4.5625 5.89844 4.5625H6.25V14.9219C6.25 24.7578 6.24219 25.2812 6.11719 25.2266C6.03906 25.1875 5.73438 25.1094 5.44531 25.0469C3.95312 24.7109 2.38281 25.5078 1.69531 26.9609C1.46094 27.4609 1.44531 27.5469 1.44531 28.3516C1.44531 29.1562 1.46094 29.2422 1.69531 29.7422C2.125 30.6406 2.91406 31.3359 3.8125 31.6016L4.14062 31.6953V32.7812V33.8594H2.26562H0.382812L0.195312 34.0547C0.0859375 34.1562 0 34.3359 0 34.4453C0 34.5547 0.0859375 34.7344 0.195312 34.8359L0.382812 35.0312H20H39.6172L39.8047 34.8359C40.0547 34.5938 40.0547 34.2969 39.8047 34.0547L39.6172 33.8594H37.8125H36.0156V32.7812V31.6953L36.3516 31.6016C37.2422 31.3359 38.0312 30.6406 38.4609 29.7422C38.6953 29.2422 38.7109 29.1562 38.7109 28.3516C38.7109 27.5469 38.6953 27.4609 38.4609 26.9609C37.8047 25.5781 36.3203 24.7656 34.9062 25.0156C34.6328 25.0625 34.3359 25.125 34.2422 25.1562L34.0625 25.2031V24.1094C34.0625 23.0156 34.0625 23.0078 33.8594 22.8516C33.5234 22.5859 33.1875 22.6484 33.0078 23.0078C32.9141 23.1719 32.8906 23.5547 32.8906 24.625V26.0312L32.625 26.4297C32.1953 27.0625 32.0312 27.5938 32.0312 28.3516C32.0312 29.1094 32.1953 29.6406 32.625 30.2734L32.8906 30.6719V32.2656V33.8594H27.1875H21.4844V24.4922V15.1172L21.2812 14.9609C20.9219 14.6797 20.5547 14.7891 20.3906 15.2188C20.3359 15.3594 20.3125 18.4609 20.3125 24.6484V33.8594H13.8672H7.42188V32.2031V30.5391L7.75781 29.8828L8.08594 29.2266V28.3516V27.4766L7.75781 26.8203L7.42188 26.1641V15.3594V4.5625H13.8672H20.3047L20.3281 8.69531C20.3516 12.6328 20.3594 12.8359 20.5 12.9922C20.6953 13.2031 21.1172 13.2109 21.3281 13C21.4766 12.8516 21.4844 12.7422 21.4844 11.3594V9.875H27.1875H32.8906V15.1875C32.8906 19.7031 32.9062 20.5391 33.0078 20.7266C33.1875 21.0859 33.5234 21.1484 33.8594 20.8828L34.0625 20.7266V15.2969V9.875H34.2578C34.5391 9.875 34.8828 9.67969 35.0703 9.41406C35.2188 9.21094 35.2344 9.07812 35.2344 8.03906C35.2344 7 35.2188 6.86719 35.0703 6.66406C34.7266 6.17969 35.0781 6.20312 27.9688 6.20312H21.4844V5.38281V4.5625H21.8359C22.2812 4.5625 22.6172 4.39062 22.8125 4.07031C22.9453 3.85156 22.9688 3.67188 22.9688 2.72656C22.9688 1.78125 22.9453 1.60156 22.8125 1.38281C22.5 0.859375 23.0625 0.890625 13.8516 0.890625C5.85938 0.890625 5.5 0.898438 5.27344 1.03906ZM21.7969 2.72656V3.39062H13.8672H5.9375V2.72656V2.0625H13.8672H21.7969V2.72656ZM34.0625 8.03906V8.70312H27.7734H21.4844V8.03906V7.375H27.7734H34.0625V8.03906ZM5.71875 26.3594C6.53125 26.7734 6.95312 27.4531 6.95312 28.3594C6.95312 29.2266 6.53125 29.9219 5.74219 30.3359L5.42969 30.5L5.38281 30.0938C5.3125 29.4844 5.25781 29.3516 5 29.25C4.8125 29.1719 4.71875 29.1719 4.53125 29.25C4.27344 29.3516 4.21875 29.4844 4.14844 30.0938L4.10156 30.5L3.78906 30.3359C3 29.9219 2.57812 29.2266 2.57812 28.3594C2.58594 27.3281 3.1875 26.5078 4.14844 26.2109C4.55469 26.0859 5.33594 26.1562 5.71875 26.3594ZM36.3438 26.3594C37.1562 26.7734 37.5781 27.4531 37.5781 28.3594C37.5781 29.2266 37.1562 29.9219 36.3672 30.3359L36.0547 30.5L36.0078 30.0938C35.9375 29.4844 35.8828 29.3516 35.625 29.25C35.4375 29.1719 35.3438 29.1719 35.1562 29.25C34.8984 29.3516 34.8438 29.4844 34.7734 30.0938L34.7266 30.5L34.4141 30.3359C33.625 29.9219 33.2031 29.2266 33.2031 28.3594C33.2109 27.3281 33.8125 26.5078 34.7734 26.2109C35.1797 26.0859 35.9609 26.1562 36.3438 26.3594ZM6.25 32.6484V33.8594H5.82031H5.39062V32.7812V31.7031L5.76562 31.5781C5.96875 31.5078 6.15625 31.4453 6.19531 31.4453C6.22656 31.4375 6.25 31.9844 6.25 32.6484ZM34.4609 31.6094L34.7656 31.6953V32.7812V33.8594H34.4141H34.0625V32.6875C34.0625 32.0391 34.0859 31.5156 34.1094 31.5156C34.1406 31.5156 34.2969 31.5547 34.4609 31.6094Z" />
<path d="M10.2266 6.00784C10.1173 6.07034 9.95319 6.21878 9.87507 6.33597C9.73444 6.53909 9.72663 6.74222 9.72663 9.56253C9.72663 12.9141 9.71882 12.8438 10.2735 13.1094C10.6563 13.2891 17.0704 13.2969 17.4532 13.1172C17.9688 12.8672 17.9688 12.875 17.9688 9.56253C17.9688 6.2969 17.961 6.25003 17.5001 6.00784C17.1719 5.83597 10.5391 5.83597 10.2266 6.00784ZM12.1094 8.5469V10.0313H11.4844H10.8594V8.5469V7.06253H11.4844H12.1094V8.5469ZM14.3751 8.5469V10.0313H13.8282H13.2813V8.5469V7.06253H13.8282H14.3751V8.5469ZM16.7969 8.5469V10.0313H16.211H15.6251V8.5469V7.06253H16.211H16.7969V8.5469ZM16.7969 11.6328V12.0625H13.8282H10.8594V11.6875C10.8594 11.4766 10.8829 11.2813 10.9141 11.2578C10.9376 11.2266 12.2735 11.2032 13.8829 11.2032H16.7969V11.6328Z" />
<path d="M23.3672 11.0312C22.8672 11.2969 22.8125 11.5156 22.8125 13.2188C22.8125 14.9141 22.8672 15.1406 23.3203 15.4219C23.5391 15.5547 23.7031 15.5781 24.6406 15.5781C25.8203 15.5781 26.0391 15.5156 26.3203 15.1172C26.4766 14.9062 26.4844 14.7812 26.4844 13.2734C26.4844 11.4844 26.4453 11.3203 25.9922 11.0469C25.7734 10.9141 25.5938 10.8906 24.6875 10.8906C23.8125 10.8906 23.5859 10.9141 23.3672 11.0312ZM25.3125 13.2344V14.4062H24.6484H23.9844V13.2344V12.0625H24.6484H25.3125V13.2344Z" />
<path d="M28.1328 11.0312C27.6328 11.2969 27.5781 11.5156 27.5781 13.2188C27.5781 14.9141 27.6328 15.1406 28.0859 15.4219C28.3047 15.5547 28.4688 15.5781 29.4062 15.5781C30.5859 15.5781 30.8047 15.5156 31.0859 15.1172C31.2422 14.9062 31.25 14.7812 31.25 13.2734C31.25 11.4844 31.2109 11.3203 30.7578 11.0469C30.5391 10.9141 30.3594 10.8906 29.4531 10.8906C28.5781 10.8906 28.3516 10.9141 28.1328 11.0312ZM30.0781 13.2344V14.4062H29.4141H28.75V13.2344V12.0625H29.4141H30.0781V13.2344Z" />
<path d="M10.2266 14.6797C10.1173 14.7422 9.95319 14.8907 9.87507 15.0078C9.73444 15.211 9.72663 15.4141 9.72663 18.2344C9.72663 21.586 9.71882 21.5157 10.2735 21.7813C10.6563 21.961 17.0704 21.9688 17.4532 21.7891C17.9688 21.5391 17.9688 21.5469 17.9688 18.2344C17.9688 14.9688 17.961 14.9219 17.5001 14.6797C17.1719 14.5078 10.5391 14.5078 10.2266 14.6797ZM12.1094 17.2188V18.7032H11.4844H10.8594V17.2188V15.7344H11.4844H12.1094V17.2188ZM14.3751 17.2188V18.7032H13.8282H13.2813V17.2188V15.7344H13.8282H14.3751V17.2188ZM16.7969 17.2188V18.7032H16.211H15.6251V17.2188V15.7344H16.211H16.7969V17.2188ZM16.7969 20.3047V20.7344H13.8282H10.8594V20.3594C10.8594 20.1485 10.8829 19.9532 10.9141 19.9297C10.9376 19.8985 12.2735 19.875 13.8829 19.875H16.7969V20.3047Z" />
<path d="M23.3203 16.5156C22.8594 16.8203 22.8125 17.0156 22.8125 18.7031C22.8125 20.0312 22.8281 20.2656 22.9531 20.4922C23.2031 20.9609 23.4844 21.0469 24.6875 21.0469C25.5938 21.0469 25.7734 21.0234 25.9922 20.8906C26.4453 20.6172 26.4844 20.4531 26.4844 18.6641C26.4844 17.1562 26.4766 17.0312 26.3203 16.8203C26.0391 16.4219 25.8203 16.3594 24.6328 16.3594C23.6875 16.3594 23.5234 16.3828 23.3203 16.5156ZM25.3125 18.7031V19.875H24.6484H23.9844V18.7031V17.5312H24.6484H25.3125V18.7031Z" />
<path d="M28.0859 16.5156C27.625 16.8203 27.5781 17.0156 27.5781 18.7031C27.5781 20.0312 27.5938 20.2656 27.7188 20.4922C27.9688 20.9609 28.25 21.0469 29.4531 21.0469C30.3594 21.0469 30.5391 21.0234 30.7578 20.8906C31.2109 20.6172 31.25 20.4531 31.25 18.6641C31.25 17.1562 31.2422 17.0312 31.0859 16.8203C30.8047 16.4219 30.5859 16.3594 29.3984 16.3594C28.4531 16.3594 28.2891 16.3828 28.0859 16.5156ZM30.0781 18.7031V19.875H29.4141H28.75V18.7031V17.5312H29.4141H30.0781V18.7031Z" />
<path d="M23.3203 21.9844C22.8594 22.2891 22.8125 22.4844 22.8125 24.1719C22.8125 25.5 22.8281 25.7344 22.9531 25.9609C23.2031 26.4297 23.4844 26.5156 24.6875 26.5156C25.5938 26.5156 25.7734 26.4922 25.9922 26.3594C26.4453 26.0859 26.4844 25.9219 26.4844 24.1094C26.4844 22.5703 26.4766 22.4609 26.3203 22.2656C26.0234 21.8828 25.8047 21.8281 24.6328 21.8281C23.6875 21.8281 23.5234 21.8516 23.3203 21.9844ZM25.3125 24.1719V25.3438H24.6484H23.9844V24.1719V23H24.6484H25.3125V24.1719Z" />
<path d="M28.0859 21.9844C27.625 22.2891 27.5781 22.4844 27.5781 24.1719C27.5781 25.5 27.5938 25.7344 27.7188 25.9609C27.9688 26.4297 28.25 26.5156 29.4531 26.5156C30.3594 26.5156 30.5391 26.4922 30.7578 26.3594C31.2109 26.0859 31.25 25.9219 31.25 24.1094C31.25 22.5703 31.2422 22.4609 31.0859 22.2656C30.7891 21.8828 30.5703 21.8281 29.3984 21.8281C28.4531 21.8281 28.2891 21.8516 28.0859 21.9844ZM30.0781 24.1719V25.3438H29.4141H28.75V24.1719V23H29.4141H30.0781V24.1719Z" />
<path d="M10.2266 23.3516C10.1172 23.4141 9.95312 23.5625 9.875 23.6797C9.73438 23.8828 9.72656 24.0859 9.72656 26.9062C9.72656 29.6797 9.73438 29.9297 9.86719 30.125C10.1484 30.5312 10.3828 30.5781 12.1406 30.5781C13.75 30.5781 13.7578 30.5781 13.9453 30.3828C14.1953 30.1406 14.1953 29.8437 13.9453 29.6016C13.7578 29.4062 13.7422 29.4062 12.3047 29.4062H10.8516L10.875 28.9922L10.8984 28.5859L13.8516 28.5625L16.7969 28.5469V28.9766V29.4062H16.5156C16.2344 29.4062 15.9453 29.5234 15.8438 29.6719C15.8125 29.7187 15.7812 29.8594 15.7812 29.9922C15.7812 30.2734 15.8438 30.3672 16.0703 30.4922C16.3125 30.6172 17.1562 30.6016 17.4531 30.4609C17.9688 30.2109 17.9688 30.2187 17.9688 26.9062C17.9688 23.6406 17.9609 23.5937 17.5 23.3516C17.1719 23.1797 10.5391 23.1797 10.2266 23.3516ZM12.1094 25.8906V27.375H11.4844H10.8594V25.8906V24.4062H11.4844H12.1094V25.8906ZM14.375 25.8906V27.375H13.8281H13.2812V25.8906V24.4062H13.8281H14.375V25.8906ZM16.7969 25.8906V27.375H16.2109H15.625V25.8906V24.4062H16.2109H16.7969V25.8906Z" />
<path d="M23.3203 27.4531C22.8594 27.7578 22.8125 27.9531 22.8125 29.6406C22.8125 30.9688 22.8281 31.2031 22.9531 31.4297C23.2031 31.8984 23.4844 31.9844 24.6875 31.9844C25.5938 31.9844 25.7734 31.9609 25.9922 31.8281C26.4453 31.5547 26.4844 31.3906 26.4844 29.5781C26.4844 28.0391 26.4766 27.9297 26.3203 27.7344C26.0234 27.3516 25.8047 27.2969 24.6328 27.2969C23.6875 27.2969 23.5234 27.3203 23.3203 27.4531ZM25.3125 29.6406V30.8125H24.6484H23.9844V29.6406V28.4688H24.6484H25.3125V29.6406Z" />
<path d="M28.0859 27.4531C27.625 27.7578 27.5781 27.9531 27.5781 29.6406C27.5781 30.9688 27.5938 31.2031 27.7188 31.4297C27.9688 31.8984 28.25 31.9844 29.4531 31.9844C30.3594 31.9844 30.5391 31.9609 30.7578 31.8281C31.2109 31.5547 31.25 31.3906 31.25 29.5781C31.25 28.0391 31.2422 27.9297 31.0859 27.7344C30.7891 27.3516 30.5703 27.2969 29.3984 27.2969C28.4531 27.2969 28.2891 27.3203 28.0859 27.4531ZM30.0781 29.6406V30.8125H29.4141H28.75V29.6406V28.4688H29.4141H30.0781V29.6406Z" />
</svg>
</div>
<span>Apartment</span>
</div>
<div class="nav-link border-0" id="nav-contact-tab" data-bs-toggle="tab" role="tablist" data-bs-target="#nav-contact" aria-controls="nav-contact">
<div class="cate-icon">
<svg width="36" height="40" viewBox="0 0 36 40" xmlns="http://www.w3.org/2000/svg">
<path d="M2.89127 0.15625C2.72914 0.257812 2.62106 0.398438 2.56702 0.601559C2.50525 0.804684 2.48209 6.72652 2.48209 19.6249V38.3592H1.55565C0.559726 38.3592 0.250911 38.4451 0.0810637 38.7576C-0.0270212 38.9685 -0.0270212 39.3904 0.0810637 39.6013C0.312674 40.0232 -0.837658 39.9998 18 39.9998C36.8377 39.9998 35.6873 40.0232 35.9189 39.6013C36.027 39.3904 36.027 38.9685 35.9189 38.7576C35.7414 38.4216 35.4557 38.3592 34.1741 38.3592H32.9775V24.367V10.3749L32.7536 10.1484L32.5297 9.92182H25.6895H18.857L18.8338 7.00777C18.8106 4.35935 18.7952 4.0781 18.6717 3.88279C18.5945 3.75779 18.4478 3.63279 18.3397 3.59373C18.1776 3.52342 15.3905 2.85155 6.06434 0.632809C4.61291 0.28125 3.36221 0 3.28501 0C3.20009 0 3.03024 0.0703125 2.89127 0.15625ZM10.7429 3.42186L17.1894 4.96872L17.2125 21.6639L17.228 38.3592H10.6657H4.10337V20.1171C4.10337 5.57028 4.12653 1.87499 4.20373 1.87499C4.25005 1.8828 7.19923 2.57811 10.7429 3.42186ZM31.418 24.9374L31.4334 38.3592H25.1413H18.8492V36.4842V34.6092H22.7789H26.7008L26.9016 34.406C27.3339 33.9686 27.1949 33.2654 26.6468 33.0701C26.4538 32.9998 25.3189 32.9764 22.6168 32.9764L18.8492 32.9686V31.8748V30.7811H22.7403H26.6314L26.8707 30.5779C27.1641 30.3279 27.249 29.9529 27.0791 29.617C26.8321 29.1326 26.8861 29.1405 22.6708 29.1405H18.8492V28.0467V26.953H22.6708C26.8861 26.953 26.8321 26.9608 27.0791 26.4764C27.249 26.1405 27.1641 25.7655 26.8707 25.5155L26.6314 25.3124H22.7403H18.8492V24.2186V23.1249H22.5782C24.9483 23.1249 26.4075 23.0936 26.5928 23.0389C26.8938 22.953 27.1872 22.6014 27.1872 22.3202C27.1872 22.0624 26.9556 21.6639 26.7549 21.5702C26.6159 21.5077 25.427 21.4842 22.7094 21.4842H18.8492V20.3514V19.2186H22.7403H26.6314L26.8707 19.0155C27.1718 18.7655 27.249 18.3905 27.0714 18.0468C26.8321 17.578 26.8089 17.578 22.6322 17.578H18.8492V16.4843V15.3983L22.7866 15.3749L26.724 15.3515L26.9324 15.1327C27.2413 14.828 27.2413 14.3124 26.9324 14.0077L26.724 13.789L22.7866 13.7655L18.8492 13.7421V12.6171V11.4843L25.1259 11.4999L31.3948 11.5234L31.418 24.9374Z" />
<path d="M6.01804 6.5391C5.90995 6.60941 5.77871 6.75003 5.73238 6.8516C5.67834 6.97659 5.64746 7.9219 5.64746 9.53908V12.0469L5.87135 12.2734L6.09524 12.5H7.84776H9.60028L9.82417 12.2734L10.0481 12.0469V9.49221V6.93753L9.78557 6.67191L9.52308 6.40629H7.87864C6.47354 6.40629 6.19561 6.42972 6.01804 6.5391ZM8.42679 9.49221V10.9375H7.84776H7.26873V9.49221V8.0469H7.84776H8.42679V9.49221Z" />
<path d="M11.5458 6.67191L11.2833 6.93753V9.49221V12.0469L11.5072 12.2734L11.731 12.5H13.4836H15.2361L15.46 12.2734L15.6839 12.0469V9.53908C15.6839 7.76565 15.6607 6.97659 15.5912 6.83597C15.4137 6.44535 15.2206 6.40629 13.4372 6.40629H11.8082L11.5458 6.67191ZM14.0626 9.49221V10.9375H13.4836H12.9045V9.49221V8.0469H13.4836H14.0626V9.49221Z" />
<path d="M6.21105 14.461C6.0798 14.5 5.89451 14.625 5.80959 14.7344C5.65518 14.9375 5.64746 15.0391 5.64746 17.4688V20L5.87135 20.25L6.09524 20.5078H7.84776H9.60028L9.82417 20.25L10.0481 20V17.4688C10.0481 15.0391 10.0403 14.9375 9.89365 14.7422C9.80101 14.625 9.60028 14.5 9.44587 14.4532C9.09846 14.3594 6.55074 14.3594 6.21105 14.461ZM8.42679 17.461V18.9063H7.84776H7.26873V17.461V16.0157H7.84776H8.42679V17.461Z" />
<path d="M11.8468 14.461C11.7156 14.5 11.5303 14.625 11.4454 14.7344C11.291 14.9375 11.2833 15.0391 11.2833 17.4688V20L11.5072 20.25L11.731 20.5078H13.4836H15.2361L15.46 20.25L15.6839 20V17.4688C15.6839 15.0391 15.6761 14.9375 15.5295 14.7422C15.4368 14.625 15.2361 14.5 15.0817 14.4532C14.7343 14.3594 12.1865 14.3594 11.8468 14.461ZM14.0626 17.461V18.9063H13.4836H12.9045V17.461V16.0157H13.4836H14.0626V17.461Z" />
<path d="M6.01804 22.5467C5.90223 22.6092 5.77099 22.7264 5.72466 22.8123C5.67834 22.8982 5.64746 23.9138 5.64746 25.5076V28.0623L5.87135 28.2888L6.09524 28.5154H7.77056C9.58484 28.5154 9.77785 28.4763 9.95542 28.0857C10.0867 27.7966 10.0867 23.1404 9.95542 22.8514C9.77785 22.4607 9.57712 22.4217 7.83232 22.4217C6.56618 22.4295 6.18017 22.4529 6.01804 22.5467ZM8.42679 25.4685V26.8748H7.84776H7.26873V25.4685V24.0623H7.84776H8.42679V25.4685Z" />
<path d="M11.677 22.531C11.2987 22.742 11.291 22.8435 11.2833 25.4529C11.2833 28.1091 11.2987 28.2341 11.7079 28.4216C11.8391 28.4841 12.449 28.5154 13.5685 28.5154H15.2361L15.46 28.2888L15.6839 28.0623V25.5076C15.6839 23.906 15.653 22.906 15.6067 22.8045C15.4214 22.4685 15.1666 22.4217 13.4681 22.4217C12.2869 22.4295 11.816 22.4529 11.677 22.531ZM14.0626 25.4685V26.8748H13.4836H12.9045V25.4685V24.0623H13.4836H14.0626V25.4685Z" />
<path d="M6.14156 30.4685C6.04892 30.4997 5.90223 30.6325 5.80959 30.7497C5.65518 30.9528 5.64746 31.0232 5.64746 33.4841V36.0153L5.87135 36.2653L6.09524 36.5231L7.63159 36.5466C9.30691 36.5778 9.63116 36.5231 9.88593 36.195C10.0403 35.9997 10.0481 35.8981 10.0481 33.4685V30.9372L9.82417 30.6872L9.60028 30.4294L7.94813 30.4138C7.04484 30.406 6.22649 30.4294 6.14156 30.4685ZM8.42679 33.4763V34.9216H7.84776H7.26873V33.4763V32.031H7.84776H8.42679V33.4763Z" />
<path d="M11.7774 30.4685C11.6847 30.4998 11.538 30.6326 11.4454 30.7498C11.291 30.9529 11.2833 31.0232 11.2833 33.4685C11.2833 36.2576 11.2833 36.2341 11.7928 36.4529C12.1557 36.6091 14.8115 36.6091 15.1743 36.4529C15.6839 36.2341 15.6839 36.2576 15.6839 33.4607V30.9373L15.46 30.6873L15.2361 30.4295L13.5839 30.4139C12.6806 30.406 11.8623 30.4295 11.7774 30.4685ZM14.0626 33.4763V34.9216H13.4836H12.9045V33.4763V32.031H13.4836H14.0626V33.4763Z" />
<path d="M28.8394 13.8202C28.5769 13.9373 28.3453 14.2889 28.3453 14.5858C28.3453 14.7967 28.4071 14.9217 28.6155 15.1326C28.8626 15.3826 28.9244 15.4061 29.21 15.367C29.6655 15.3045 29.928 15.0155 29.928 14.5702C29.928 14.3045 29.8817 14.1795 29.7273 14.0233C29.5188 13.8045 29.0942 13.7108 28.8394 13.8202Z" />
<path d="M28.8394 17.6874C28.2526 17.9452 28.1754 18.664 28.685 19.078C28.8703 19.2343 29.2563 19.2577 29.5265 19.1327C29.7427 19.0312 29.9666 18.6796 29.9666 18.4374C29.9666 18.1484 29.7349 17.8046 29.4647 17.6874C29.1482 17.5546 29.1405 17.5546 28.8394 17.6874Z" />
<path d="M28.7082 21.5701C28.5229 21.6795 28.3453 22.0545 28.3453 22.3358C28.3453 23.0545 29.4416 23.3357 29.8122 22.7107C30.0593 22.3123 29.9898 21.9217 29.6269 21.6248C29.4493 21.4764 28.9244 21.4451 28.7082 21.5701Z" />
<path d="M28.7159 25.4452C28.299 25.7108 28.2218 26.2655 28.5615 26.6405C29.0787 27.2264 29.9666 26.8515 29.9666 26.039C29.9666 25.9218 29.8662 25.7421 29.7041 25.578C29.403 25.2733 29.0633 25.2265 28.7159 25.4452Z" />
<path d="M28.8394 29.2107C28.5924 29.3201 28.3453 29.6794 28.3453 29.9373C28.3453 30.4373 28.6928 30.781 29.2023 30.781C29.3721 30.781 29.5188 30.7029 29.7118 30.5076C29.9589 30.2576 29.9821 30.1951 29.9434 29.906C29.9203 29.7185 29.8276 29.5076 29.7196 29.3982C29.5111 29.1951 29.0942 29.1013 28.8394 29.2107Z" />
<path d="M28.5692 33.2732C28.3145 33.5388 28.2759 33.8591 28.4611 34.2185C28.6078 34.5076 28.7931 34.6091 29.1791 34.6091C29.6887 34.6091 30.0593 34.1248 29.9357 33.6248C29.789 33.031 29.0093 32.8279 28.5692 33.2732Z" />
</svg>
</div>
<span>Flat</span>
</div>
</div>
</div>
</div>
<div class="tab-content" id="nav-tabContent">
<div class="tab-pane fade show active" id="nav-home" aria-labelledby="nav-home-tab">
<div class="row g-4">
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md1.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>Appartment</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">The Crescent, Dublin 18,buile
County flat Apartment.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$2200</ins>
</div>
<div class="countdown" id="timer7">
<p>Bid Start In</p>

<h6><span id="hours7"></span>Hours : <span id="minutes7"></span>Min : <span id="seconds7"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md2.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>Flat</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">vitae dictum ante tellus non metus
Praesent imperdiet.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$2500</ins>
</div>
<div class="countdown" id="timer2">
<p>Bid Start In</p>
<h6><span id="hours2"></span>Hours : <span id="minutes2"></span>Min : <span id="seconds2"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md3.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>House</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">sollicitudin dignissim, risus exel
hendrerit tellus.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$2450</ins>
</div>
<div class="countdown" id="timer3">
<p>Bid Start In</p>
<h6><span id="hours3"></span>Hours : <span id="minutes3"></span>Min : <span id="seconds3"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md4.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>Banglo</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">Phasellus placerat ultrices in nisi,
euporta justo.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$1990</ins>
</div>
<div class="countdown" id="timer4">
<p>Bid Start In</p>
<h6><span id="hours4"></span>Hours : <span id="minutes4"></span>Min : <span id="seconds4"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md5.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>House</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">Maecenas sit amet placerat felis nece
finibus neque.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$2000</ins>
</div>
<div class="countdown" id="timer5">
<p>Bid Start In</p>
<h6><span id="hours5"></span>Hours : <span id="minutes5"></span>Min : <span id="seconds5"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md6.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>Appartment</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">Nam in arcu eu, dolor rutrum auctor
non in mauris.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$2010</ins>
</div>
<div class="countdown" id="timer6">
<p>Bid Start In</p>
<h6><span id="hours6"></span>Hours : <span id="minutes6"></span>Min : <span id="seconds6"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row d-flex justify-content-center g-4">
<div class="col-md-6 text-center">
<a href="auction.html" class="land-auction-btn">View Category</a>
</div>
</div>
</div>
<div class="tab-pane fade" id="nav-profile" aria-labelledby="nav-profile-tab">
<div class="row g-4">
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md2.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>Flat</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">vitae dictum ante tellus non metus
Praesent imperdiet.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$2500</ins>
</div>
<div class="countdown" id="timer9">
<p>Bid Start In</p>
<h6><span id="hours9"></span>Hours : <span id="minutes9"></span>Min : <span id="seconds9"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md3.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>House</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">sollicitudin dignissim, risus exel
hendrerit tellus.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$2450</ins>
</div>
<div class="countdown" id="timer1">
<p>Bid Start In</p>
<h6><span id="hours1"></span>Hours : <span id="minutes1"></span>Min : <span id="seconds1"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md4.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>Banglo</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">Phasellus placerat ultrices in nisi,
euporta justo.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$1990</ins>
</div>
<div class="countdown" id="timer14">
<p>Bid Start In</p>
<h6><span id="hours14"></span>Hours : <span id="minutes14"></span>Min :
<span id="seconds14"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md5.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>FarmHouse</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">Maecenas sit amet placerat felis nece
finibus neque.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$2000</ins>
</div>
<div class="countdown" id="timer22">
<p>Bid Start In</p>
<h6><span id="hours22"></span>Hours : <span id="minutes22"></span>Min :
<span id="seconds22"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md6.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>Appartment</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">Nam in arcu eu, dolor rutrum auctor
non in mauris.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$2010</ins>
</div>
<div class="countdown" id="timer12">
<p>Bid Start In</p>
<h6><span id="hours12"></span>Hours : <span id="minutes12"></span>Min :
<span id="seconds12"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row d-flex justify-content-center">
<div class="col-md-6 text-center">
<a href="auction.html" class="land-auction-btn">View Category</a>
</div>
</div>
</div>
<div class="tab-pane fade" id="nav-contact" aria-labelledby="nav-contact-tab">
<div class="row g-4">
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md3.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>House</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">sollicitudin dignissim, risus exel
hendrerit tellus.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$2450</ins>
</div>
<div class="countdown" id="timer17">
<p>Bid Start In</p>
<h6><span id="hours17"></span>Hours : <span id="minutes17"></span>Min :
<span id="seconds17"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md4.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>Banglo</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">Phasellus placerat ultrices in nisi,
euporta justo.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$1990</ins>
</div>
<div class="countdown" id="timer16">
<p>Bid Start In</p>
<h6><span id="hours16"></span>Hours : <span id="minutes16"></span>Min :
<span id="seconds16"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md5.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>Hotel</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">Maecenas sit amet placerat felis nece
finibus neque.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$2000</ins>
</div>
<div class="countdown" id="timer18">
<p>Bid Start In</p>
<h6><span id="hours18"></span>Hours : <span id="minutes18"></span>Min :
<span id="seconds18"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-land-alpha">
<div class="thumb">
<a href="auction-details.html"><img src="~/assets/images/apartment/apartment-md6.png" alt></a>
<div class="product-lavel">
<span class="status">LIVE</span>
<span>Flat</span>
</div>
</div>
<div class="land-disc">
<h5 class="land-title"><a href="auction-details.html">Nam in arcu eu, dolor rutrum auctor
non in mauris.</a></h5>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<div class="land-disc-bottom">
<div class="price">
<p>Bid Price</p>
<ins>$2010</ins>
</div>
<div class="countdown" id="timer19">
<p>Bid Start In</p>
<h6><span id="hours19"></span>Hours : <span id="minutes19"></span>Min :
<span id="seconds19"></span>Sec</h6>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row d-flex justify-content-center">
<div class="col-md-6 text-center">
<a href="auction.html" class="land-auction-btn">View Category</a>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="best-land-auction-area pt-110">
<div class="container position-relative">
<div class="row">
<div class="col-lg-12">
<div class="land-section-header mx-auto mb-60">
<h2>Some Best Auction</h2>
<p>Navigating Bid Spirit with a grasp of some best auction terms can significantly enhance your bidding experience. First and foremost, familiarize yourself with the starting bid.</p>
</div>
</div>
</div>
<div class="swiper best-auction-slider">
<div class="swiper-wrapper pb-1">
<div class="swiper-slide">
<div class="row g-4">
<div class="col-lg-6">
<div class="best-auction-display">
<img src="~/assets/images/banner/best-acution-bg.png" alt>
<div class="acution-disc">
<div class="acution-info">
<div class="price">
<span>Bid Price</span>
<h5>$2500</h5>
</div>
<div class="countdown" id="timer8">
<p>Bid Start In</p>
<h6><span id="hours8"></span>Hours : <span id="minutes8"></span>Min : <span id="seconds8"></span>Sec</h6>
</div>
</div>
<a href="auction-details.html" class="bid-btn">Bid Now</a>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="best-auction-disc">
<h3 class="auction-title"><a href="auction-details.html">The Crescent, Dublin 18,
County flat fringillara erat Apartment buildings.</a></h3>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<p>Integer ante tellus, bibendum eget ante ut, aliquet luctus quam. Integer eget
mattis mauris. Vestibulum ante ipsum primis in faucibus orci luctus et. Mauris
at nisi commodo, consectetur augue vel, efficitur turpis. Integer tincidunt.</p>
<div class="auction-features">
<ul class="main-feature">
<li><strong>Bedroom 1 :</strong> 2 single beds</li>
<li> <strong>Bedroom 2 :</strong> 1 large double bed</li>
<li> <strong>Living room :</strong> 1 sofa bed</li>
<li>This apartment features a balcony, sofa and electric kettle.</li>
</ul>
<div class="additional-features d-flex flex-wrap justify-content-between">
<ul class="feature-list">
<li><i class="bx bx-check"></i> AIR CONDITIONING</li>
<li><i class="bx bx-check"></i> BALCONY</li>
<li><i class="bx bx-check"></i> DINING AREA</li>
</ul>
<ul class="feature-list">
<li><i class="bx bx-check"></i> BABY SAFETY GATES</li>
<li><i class="bx bx-check"></i> CLEANING PRODUCTS</li>
<li><i class="bx bx-check"></i> CITY VIEW</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="row">
<div class="col-lg-6">
<div class="best-auction-display">
<img src="~/assets/images/banner/best-acution-bg.png" alt>
<div class="acution-disc">
<div class="acution-info">
<div class="price">
<span>Bid Price</span>
<h5>$2500</h5>
</div>
<div class="countdown" id="timer20">
<p>Bid Start In</p>
<h6><span id="hours20"></span>Hours : <span id="minutes20"></span>Min : <span id="seconds20"></span>Sec</h6>
</div>
</div>
<a href="auction-details.html" class="bid-btn">Bid Now</a>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="best-auction-disc">
<h3 class="auction-title">The Crescent, Dublin 18, County flat fringillara erat
Apartment buildings.</h3>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<p>Integer ante tellus, bibendum eget ante ut, aliquet luctus quam. Integer eget
mattis mauris. Vestibulum ante ipsum primis in faucibus orci luctus et. Mauris
at nisi commodo, consectetur augue vel, efficitur turpis. Integer tincidunt.</p>
<div class="auction-features">
<ul class="main-feature">
<li><strong>Bedroom 1 :</strong> 2 single beds</li>
<li> <strong>Bedroom 2 :</strong> 1 large double bed</li>
<li> <strong>Living room :</strong> 1 sofa bed</li>
<li>This apartment features a balcony, sofa and electric kettle.</li>
</ul>
<div class="additional-features d-flex flex-wrap justify-content-between">
<ul class="feature-list">
<li><i class="bx bx-check"></i> AIR CONDITIONING</li>
<li><i class="bx bx-check"></i> BALCONY</li>
<li><i class="bx bx-check"></i> DINING AREA</li>
</ul>
<ul class="feature-list">
<li><i class="bx bx-check"></i> BABY SAFETY GATES</li>
<li><i class="bx bx-check"></i> CLEANING PRODUCTS</li>
<li><i class="bx bx-check"></i> CITY VIEW</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="row">
<div class="col-lg-6">
<div class="best-auction-display">
<img src="~/assets/images/banner/best-acution-bg.png" alt>
<div class="acution-disc">
<div class="acution-info">
<div class="price">
<span>Bid Price</span>
<h5>$2500</h5>
</div>
<div class="countdown " id="timer28">
<span>Bid Start In</span>
<h6><span id="hours28"></span>Hours : <span id="minutes28"></span>Min : <span id="seconds28"></span>Sec</h6>
</div>
</div>
<a href="auction-details.html" class="bid-btn">Bid Now</a>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="best-auction-disc">
<h3 class="auction-title">The Crescent, Dublin 18, County flat fringillara erat
Apartment buildings.</h3>
<div class="land-location">
<i class="bi bi-geo-alt"></i> <span>Carrickmines, Dublin</span>
</div>
<p>Integer ante tellus, bibendum eget ante ut, aliquet luctus quam. Integer eget
mattis mauris. Vestibulum ante ipsum primis in faucibus orci luctus et. Mauris
at nisi commodo, consectetur augue vel, efficitur turpis. Integer tincidunt.</p>
<div class="auction-features">
<ul class="main-feature">
<li><strong>Bedroom 1 :</strong> 2 single beds</li>
<li> <strong>Bedroom 2 :</strong> 1 large double bed</li>
<li> <strong>Living room :</strong> 1 sofa bed</li>
<li>This apartment features a balcony, sofa and electric kettle.</li>
</ul>
<div class="additional-features d-flex flex-wrap justify-content-between">
<ul class="feature-list">
<li><i class="bx bx-check"></i> AIR CONDITIONING</li>
<li><i class="bx bx-check"></i> BALCONY</li>
<li><i class="bx bx-check"></i> DINING AREA</li>
</ul>
<ul class="feature-list">
<li><i class="bx bx-check"></i> BABY SAFETY GATES</li>
<li><i class="bx bx-check"></i> CLEANING PRODUCTS</li>
<li><i class="bx bx-check"></i> CITY VIEW</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="slider-arrows text-center d-lg-flex d-none  justify-content-between">
<div class="upcoming-prev swiper-prev-arrow" tabindex="0"> <img src="~/assets/images/icon/swiper-left2.svg" alt> </div>
<div class="upcoming-next swiper-next-arrow" tabindex="0"> <img src="~/assets/images/icon/swiper-right2.svg" alt></div>
</div>
</div>
</div>

<div class="testimonial-style-four mt-110">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-5">
<div class="testimonial-disc">
<strong>Testimonial</strong>
<h2>What They Are Says Our Services.</h2>
                        <p>
                            Our services for bid spirit are designed to elevate the auction experience, offering a seamless and engaging platform for participants. What sets us apart is our commitment to fostering a dynamic bidding environment where enthusiasts can compete passionately for coveted items across various categories.
                        </p>
</div>
</div>
<div class="col-lg-7 mt-5 mt-lg-0">
<div class="swiper testimonial-slider-four">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="testimonial-land-alpha">
<div class="testi-reviewer mx-auto">
<img src="~/assets/images/testimonial/reviewer-4a.png" alt>
</div>
<div class="testi-body">
                                        <p class="testi-texts">We highly value the opinions and experiences of our participants, viewing their feedback as an essential tool for refining and optimizing the bidding process. Whether it's praise for a seamless user interface, constructive criticism about specific aspects, or suggestions for new features, we actively encourage our users to share their thoughts</p>
<div class="testi-footer">
<div class="reviewer">
<h5><a href="winner.html">Robert Fox</a></h5>
<span>Co-Founder</span>
</div>
<ul class="testi-rating d-flex gap-2">
<li><i class="bi bi-star-fill"></i></li>
<li><i class="bi bi-star-fill"></i></li>
<li><i class="bi bi-star-fill"></i></li>
<li><i class="bi bi-star-fill"></i></li>
<li><i class="bi bi-star-fill"></i></li>
</ul>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="testimonial-land-alpha">
<div class="testi-reviewer mx-auto">
<img src="~/assets/images/testimonial/reviewer-4b.png" alt>
</div>
<div class="testi-body">
                                        <p class="testi-texts">We highly value the opinions and experiences of our participants, viewing their feedback as an essential tool for refining and optimizing the bidding process. Whether it's praise for a seamless user interface, constructive criticism about specific aspects, or suggestions for new features, we actively encourage our users to share their thoughts</p>
<div class="testi-footer">
<div class="reviewer">
<h5><a href="winner.html">Mokarram Hossain</a></h5>
<span>Manager</span>
</div>
<ul class="testi-rating d-flex gap-2">
<li><i class="bi bi-star-fill"></i></li>
<li><i class="bi bi-star-fill"></i></li>
<li><i class="bi bi-star-fill"></i></li>
<li><i class="bi bi-star-fill"></i></li>
<li><i class="bi bi-star-fill"></i></li>
</ul>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="testimonial-land-alpha">
<div class="testi-reviewer mx-auto">
<img src="~/assets/images/testimonial/reviewer-4c.png" alt>
</div>
<div class="testi-body">
                                        <p class="testi-texts">We highly value the opinions and experiences of our participants, viewing their feedback as an essential tool for refining and optimizing the bidding process. Whether it's praise for a seamless user interface, constructive criticism about specific aspects, or suggestions for new features, we actively encourage our users to share their thoughts</p>
<div class="testi-footer">
<div class="reviewer">
<h5><a href="winner.html">Raufur Rahman</a></h5>
<span>Area Manager</span>
</div>
<ul class="testi-rating d-flex gap-2">
<li><i class="bi bi-star-fill"></i></li>
<li><i class="bi bi-star-fill"></i></li>
<li><i class="bi bi-star-fill"></i></li>
<li><i class="bi bi-star-fill"></i></li>
<li><i class="bi bi-star-fill"></i></li>
</ul>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="testimonial-land-alpha">
<div class="testi-reviewer mx-auto">
<img src="~/assets/images/testimonial/reviewer-4d.png" alt>
</div>
<div class="testi-body">
                                        <p class="testi-texts">We highly value the opinions and experiences of our participants, viewing their feedback as an essential tool for refining and optimizing the bidding process. Whether it's praise for a seamless user interface, constructive criticism about specific aspects, or suggestions for new features, we actively encourage our users to share their thoughts</p>
<div class="testi-footer">
<div class="reviewer">
<h5><a href="winner.html">Galib Al Nahian</a></h5>
<span>Founder</span>
</div>
<ul class="testi-rating d-flex gap-2">
<li><i class="bi bi-star-fill"></i></li>
<li><i class="bi bi-star-fill"></i></li>
<li><i class="bi bi-star-fill"></i></li>
<li><i class="bi bi-star-fill"></i></li>
<li><i class="bi bi-star-fill"></i></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="slider-arrows text-center d-lg-flex d-none  justify-content-between mt-4">
<div class="testi-prev4 swiper-prev-arrow" tabindex="0"> <img src="~/assets/images/icon/flat-prev-icon.svg" alt> </div>
<div class="testi-next4 swiper-next-arrow" tabindex="0"> <img src="~/assets/images/icon/flat-next-icon.svg" alt></div>
</div>
</div>
</div>
</div>
</div>


<div class="learning-process-area pt-110">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="land-section-header mx-auto mb-60">
<h2>2 Steps To Learn</h2>
                        <p>
                            Learning to engage in the bid spirit involves two essential steps. First and foremost, familiarize yourself with the auction platform and its intricacies.
                        </p>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<ul class="nav justify-content-between process-pills" id="pills-tab">
<li class="nav-item w-50">
<button class="nav-link active w-100" id="pills-bid-tab" data-bs-toggle="pill" data-bs-target="#pills-bid" type="button" aria-controls="pills-bid">How To Bid</button>
</li>
<li class="nav-item w-50">
<button class="nav-link w-100" id="pills-sale-tab" data-bs-toggle="pill" data-bs-target="#pills-sale" type="button" aria-controls="pills-sale">How To
Sale</button>
</li>
</ul>
</div>
</div>
</div>
<div class="top-border-gray"></div>
<div class="container">
<div class="process-tabs tab-content" id="pills-tabContent">
<div class="tab-pane fade show active" id="pills-bid" aria-labelledby="pills-bid-tab">
<div class="row align-items-center">
<div class="col-lg-6 mt-5">
<div class="prodess-llustration text-center">
<img src="~/assets/images/shape/learning-process-illustration.png" alt class="img-fluid">
</div>
</div>
<div class="col-lg-6 mt-5">
<div class="process-list">
<div class="single-process">
<h4><span>Step 01 :</span> Register your interest.</h4>
                                    <p>Registering your interest for Bid Spirit is a straightforward and essential step for anyone looking to engage in the bidding process. By doing so, you express your intent to participate in upcoming auctions and gain access to valuable information about potential opportunities.</p>
</div>
<div class="single-process">
<h4><span>Step 02 :</span> Understand the payment terms.</h4>
                                    <p>
                                        Understanding the payment terms for Bid Spirit is crucial for a smooth and transparent transaction process. Familiarizing yourself with the specific payment guidelines ensures that you are well-prepared and can meet the financial obligations associated with successful bids.
                                    </p>
</div>
<div class="single-process">
<h4><span>Step 03 :</span> Present your bid.</h4>
                                    <p>Presenting your bid terms effectively on Bid Spirit is key to attracting potential stakeholders and conveying the terms of your proposal. Clearly articulate the terms and conditions that accompany your bid, outlining essential details such as pricing, delivery timelines.</p>
</div>
</div>
</div>
</div>
</div>
<div class="tab-pane fade" id="pills-sale" aria-labelledby="pills-sale-tab">
<div class="row align-items-center">
<div class="col-lg-6 mt-5">
<div class="prodess-llustration text-center">
<img src="~/assets/images/shape/learning-process-illustration.png" alt class="img-fluid">
</div>
</div>
<div class="col-lg-6 mt-5">
<div class="process-list">
<div class="single-process">
<h4><span>Step 01 :</span> Register your interest.</h4>
                                    <p>
                                        Registering your interest for Bid Spirit is a straightforward and essential step for anyone looking to engage in the bidding process. By doing so, you express your intent to participate in upcoming auctions and gain access to valuable information about potential opportunities.
                                    </p>
</div>
<div class="single-process">
<h4><span>Step 02 :</span> Understand the payment terms.</h4>
                                    <p>Understanding the payment terms for Bid Spirit is crucial for a smooth and transparent transaction process. Familiarizing yourself with the specific payment guidelines ensures that you are well-prepared and can meet the financial obligations associated with successful bids.</p>
</div>
<div class="single-process">
<h4><span>Step 03 :</span> Present your bid.</h4>
                                    <p>Presenting your bid terms effectively on Bid Spirit is key to attracting potential stakeholders and conveying the terms of your proposal. Clearly articulate the terms and conditions that accompany your bid, outlining essential details such as pricing, delivery timelines</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="blog-area blog-style-four mt-110 ">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="land-section-header mx-auto mb-60">
<h2>Latest News</h2>
                        <p>Stay informed and engaged with the latest news on Bid Spirit to stay ahead of the curve in the dynamic world of bidding. </p>
</div>
</div>
</div>
<div class="row g-4">
<div class="col-lg-4 col-md-6">
<div class="blog-land-alpha">
<div class="thumb">
<a href="blog-details.html"><img src="~/assets/images/blog/blog-l1.png" alt></a>
<div class="action"><a href="#"><i class="bi bi-share"></i></a></div>
<div class="tag"><span>Appartment</span></div>
</div>
<div class="blog-body">
<div class="metas">
<div class="meta"> <i class="bi bi-calendar-week"></i> <a href="#"><span>Novembar 16, 2021</span></a>
</div>
<div class="meta"> <i class="bi bi-chat-quote"></i> <a href="#"><span>Comment (05)</span></a></div>
</div>
<h4 class="blog-title"><a href="blog-details.html">Fusce consequat lorem nona
pellentesque vehicula.</a></h4>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="blog-land-alpha">
<div class="thumb">
<a href="blog-details.html"><img src="~/assets/images/blog/blog-l2.png" alt></a>
<div class="action"><a href="#"><i class="bi bi-share"></i></a></div>
<div class="tag"><span>Flat</span></div>
</div>
<div class="blog-body">
<div class="metas">
<div class="meta"> <i class="bi bi-calendar-week"></i> <a href="#"><span>Novembar 16, 2021</span></a>
</div>
<div class="meta"> <i class="bi bi-chat-quote"></i> <a href="#"><span>Comment (05)</span></a></div>
</div>
<h4 class="blog-title"><a href="blog-details.html">Praesent vestibulum ut and metus eu
faucibus.</a></h4>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="blog-land-alpha">
<div class="thumb">
<a href="blog-details.html"><img src="~/assets/images/blog/blog-l3.png" alt></a>
<div class="action"><a href="#"><i class="bi bi-share"></i></a></div>
<div class="tag"><span>House</span></div>
</div>
<div class="blog-body">
<div class="metas">
<div class="meta"> <i class="bi bi-calendar-week"></i> <a href="#"><span>Novembar 16, 2021</span></a>
</div>
<div class="meta"> <i class="bi bi-chat-quote"></i> <a href="#"><span>Comment (05)</span></a></div>
</div>
<h4 class="blog-title"><a href="blog-details.html">Ut velit odio, pharetra egeten antoni
interdum elit.</a></h4>
</div>
</div>
</div>
</div>
</div>
</div>





<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="~/assets/js/jquery-3.6.0.min.js"></script>
<script src="~/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/js/swiper-bundle.min.js"></script>
<script src="~/assets/js/jquery.magnific-popup.min.js"></script>
<script src="~/assets/js/jquery.nice-select.js"></script>

<script src="~/assets/js/main.js"></script>
</body>
</html>

