﻿
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/headfoot.cshtml";
}

<div class="breadcrumb breadcrumb-style-one mb-0 ">
<div class="container">
<div class="col-lg-12 text-center">
<h1 class="breadcrumb-title">Login</h1>
<ul class="d-flex justify-content-center breadcrumb-items">
                <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a href="@Url.Action("Index","user")">Home</a></li>
<li class="breadcrumb-item active">Login</li>
</ul>
</div>
</div>
</div>


<section class="register-section pt-110">
<div class="container">
<div class="row d-flex justify-content-center text-center">
<div class="col-12">
<div class="register-btn-group">
                    <a href="@Url.Action("Register","user")" class="register-btn style2">Register</a>
                    <a href="@Url.Action("Login","user")" class="login-btn style2">Login</a>
</div>
</div>
</div>
<div class="row gy-4">
<div class="col-lg-6">
<div class="register-left-area style2">
<h3>Hello Again</h3>
<p>Wellcome Back You’ve Been Missed</p>
                    <a href="@Url.Action("Index","user")" class="transparent-btn">Back Home</a>
</div>
</div>
<div class="col-lg-6">
<div class="right-form-area">
<h3>Login Your Account</h3>
                    <form class="w-100" id="loginForm">
                        <div class="form-inner">
                            <label>User Name*</label>
                            <input type="text" id="username" placeholder="User Name">
                        </div>
                        <div class="form-inner">
                            <label>Password *</label>
                            <input type="password" name="password" id="password" placeholder="Password" />
                            <i class="bi bi-eye-slash" id="togglePassword"></i>
                        </div>
                        <div class="form-inner d-flex justify-content-between flex-wrap">
                            <div class="form-group">
                                <input type="checkbox" id="html">
                                <label for="html">I agree to the Terms & Policy</label>
                            </div>
                            <a href="#" class="forgot-pass">Forgotten Password</a>
                        </div>
                        <button type="submit" class="account-btn">LOGIN ACCOUNT</button>
                    </form>
<div class="alternate-signup-box">
<h6>or Sign up WITH</h6>
<div class="btn-group gap-4">
<a href class="google-btn d-flex align-items-center"><i class="bx bxl-google"></i><span>Signup whit google</span></a>
<a href class="facebook-btn d-flex align-items-center"><i class="bx bxl-facebook"></i>Sign up whit facebook</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<script>
    document.getElementById("loginForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent the form from submitting

        // Get the values entered by the user
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        // Check if username and password are correct
        if (username === "admin" && password === "123") {
            // Redirect to the dashboard
            window.location.href = "@Url.Action("Dashboard", "admin")";
        } else {
            // Show an alert if the credentials are incorrect
            alert("Invalid username or password. Please try again.");
        }
    });
</script>
