﻿
@{
    ViewData["Title"] = "PrivacyPolicy";
    Layout = "~/Views/Shared/headfoot.cshtml";
}

<div class="breadcrumb breadcrumb-style-one mb-0 ">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h1 class="breadcrumb-title">Privacy Policy</h1>
            <ul class="d-flex justify-content-center breadcrumb-items">
                <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a href="@Url.Action("Index","user")">Home</a></li>
                <li class="breadcrumb-item active">Privacy Policy</li>
            </ul>
        </div>
    </div>
</div>


<div class="privacy-policy-wrapper mt-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">

                <div class="pp-buttons-wrap">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active" id="v-btn-pp1" data-bs-toggle="pill" data-bs-target="#v-pills-pp1" type="button" role="tab" aria-controls="v-pills-pp1" aria-selected="true">Information </button>
                        <button class="nav-link" id="v-btn-pp2" data-bs-toggle="pill" data-bs-target="#v-pills-pp2" type="button" role="tab" aria-controls="v-pills-pp2" aria-selected="false">Notification</button>
                        <button class="nav-link" id="v-btn-pp3" data-bs-toggle="pill" data-bs-target="#v-pills-pp3" type="button" role="tab" aria-controls="v-pills-pp1" aria-selected="false">Affiliate Companies </button>
                        <button class="nav-link" id="v-btn-pp4" data-bs-toggle="pill" data-bs-target="#v-pills-pp4" type="button" role="tab" aria-controls="v-pills-pp1" aria-selected="false">Occasionally</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 pt-5 pt-lg-0">

                <div class="tab-content pp-tab-contents" id="v-pills-tabContent">
                    <div class="tab-pane fade show active pp-tab-body" id="v-pills-pp1" role="tabpanel" aria-labelledby="v-btn-pp1">
                        <div class="tab-inner-contentbox mt-0">
                            <h5 class="pp-title pt-0">Introduction</h5>
                            <p>
                                This Privacy Policy describes how your personal information is collected, used, and shared when you visit,
                                subscribe, register or make a purchase from Bid Spirit, ‘Site’.
                            </p>
                            <h5 class="pp-title">Definition of personal data</h5>
                            <p>Personal data refers to any information that relates to an identified or identifiable individual on the Bid Spirit Antique Auction website. This includes data such as the user's name, contact details, payment information, and any other details that can be used to distinguish or recognize a specific user. Personal data is crucial for the functioning of Bid Spirit</p>
                            <ul class="pp-list">
                                <li>Personal data on Bid Spirit encompasses any information that can be used to identify or distinguish an individual user. This includes details such as their name, contact information, payment data, and any other information that can be linked to a specific person.</li>
                                <li>Personal data is essential for the smooth functioning of the Bid Spirit platform. It is used for user account management, payment processing, and communication with users regarding auctions, bids, and transactions. Without personal data, the platform would be unable to provide its services effectively..</li>
                                <li>Bid Spirit must prioritize the privacy and security of personal data. Users should be informed about how their data is collected, processed, and protected on the platform.  </li>
                            </ul>
                            <h5 class="pp-title">Cookies and Similar Technologies</h5>
                            <p>We use cookies and similar technologies to provide, protect, and improve our products and services, such as by personalizing content, offering and measuring advertisements, understanding user behavior, and providing a safer experience.</p>
                            <h6 class="highlighted-text">You can remove or reject cookies using your browser or device settings, but in some cases doing so may affect your ability to use our products and services.</h6>
                            <ul class="pp-list">
                                <li>Cookies and similar technologies are used on platforms like Bid Spirit to track user behavior and preferences. These technologies allow the platform to remember user preferences, such as language settings or login information, and provide a more personalized experience. </li>
                                <li>It's important for Bid Spirit to inform users about the use of cookies and similar technologies and obtain their consent in compliance with data privacy regulations.  </li>
                            </ul>
                            <h5 class="pp-title">Your Rights</h5>
                            <p>Your rights as a user on Bid Spirit are of utmost importance, and they are protected by various regulations and policies. These rights encompass your ability to control and manage your personal data, including the right to access the information the platform holds about you. You have the right to request the correction of any inaccurate data, as well as the right to have your data erased under certain circumstances. Additionally, you can exercise your right to restrict or object to the processing of your personal data. Bid Spirit is committed to transparency, ensuring you are well-informed about how your data is used and giving you the option to manage your privacy settings and consent preferences. By understanding and asserting your rights, you can maintain control over your personal information and ensure it is handled in compliance with data protection laws and with respect for your privacy.</p>
                        </div>
                        <div class="tab-inner-contentbox">
                            <h5 class="pp-title pt-0">How you can contact us</h5>
                            <p>
                                Contacting Bid Spirit is a straightforward process to ensure users' queries, concerns, and feedback are addressed promptly and effectively. Our dedicated customer support team is available through various communication channels. You can reach us via email at support@bidspirit.com for non-urgent inquiries or send a direct message through our website's built-in messaging system. For more immediate assistance or urgent matters, our live chat feature offers real-time support during business hours. We value your feedback and are committed to providing a seamless user experience on the Bid Spirit platform, so don't hesitate to get in touch with us. Our responsive support team is here to assist you with any questions or issues you may have
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-pp2" role="tabpanel" aria-labelledby="v-btn-pp2">
                        <div class="tab-inner-contentbox mt-0">
                            <h5 class="pp-title pt-0">Introduction</h5>
                            <p>
                                This Privacy Policy describes how your personal information is collected, used, and shared when you visit,
                                subscribe, register or make a purchase from Bid Spirit, ‘Site’.
                            </p>
                            <h5 class="pp-title">Definition of personal data</h5>
                            <p>Personal data refers to any information that relates to an identified or identifiable individual on the Bid Spirit Antique Auction website. This includes data such as the user's name, contact details, payment information, and any other details that can be used to distinguish or recognize a specific user. Personal data is crucial for the functioning of Bid Spirit</p>
                            <ul class="pp-list">
                                <li>Personal data on Bid Spirit encompasses any information that can be used to identify or distinguish an individual user. This includes details such as their name, contact information, payment data, and any other information that can be linked to a specific person.</li>
                                <li>Personal data is essential for the smooth functioning of the Bid Spirit platform. It is used for user account management, payment processing, and communication with users regarding auctions, bids, and transactions. Without personal data, the platform would be unable to provide its services effectively..</li>
                                <li>Bid Spirit must prioritize the privacy and security of personal data. Users should be informed about how their data is collected, processed, and protected on the platform.  </li>
                            </ul>
                            <h5 class="pp-title">Cookies and Similar Technologies</h5>
                            <p>We use cookies and similar technologies to provide, protect, and improve our products and services, such as by personalizing content, offering and measuring advertisements, understanding user behavior, and providing a safer experience.</p>
                            <h6 class="highlighted-text">You can remove or reject cookies using your browser or device settings, but in some cases doing so may affect your ability to use our products and services.</h6>
                            <ul class="pp-list">
                                <li>Cookies and similar technologies are used on platforms like Bid Spirit to track user behavior and preferences. These technologies allow the platform to remember user preferences, such as language settings or login information, and provide a more personalized experience. </li>
                                <li>It's important for Bid Spirit to inform users about the use of cookies and similar technologies and obtain their consent in compliance with data privacy regulations.  </li>
                            </ul>
                            <h5 class="pp-title">Your Rights</h5>
                            <p>Your rights as a user on Bid Spirit are of utmost importance, and they are protected by various regulations and policies. These rights encompass your ability to control and manage your personal data, including the right to access the information the platform holds about you. You have the right to request the correction of any inaccurate data, as well as the right to have your data erased under certain circumstances. Additionally, you can exercise your right to restrict or object to the processing of your personal data. Bid Spirit is committed to transparency, ensuring you are well-informed about how your data is used and giving you the option to manage your privacy settings and consent preferences. By understanding and asserting your rights, you can maintain control over your personal information and ensure it is handled in compliance with data protection laws and with respect for your privacy.</p>
                        </div>
                        <div class="tab-inner-contentbox">
                            <h5 class="pp-title pt-0">How you can contact us</h5>
                            <p>
                                Contacting Bid Spirit is a straightforward process to ensure users' queries, concerns, and feedback are addressed promptly and effectively. Our dedicated customer support team is available through various communication channels. You can reach us via email at support@bidspirit.com for non-urgent inquiries or send a direct message through our website's built-in messaging system. For more immediate assistance or urgent matters, our live chat feature offers real-time support during business hours. We value your feedback and are committed to providing a seamless user experience on the Bid Spirit platform, so don't hesitate to get in touch with us. Our responsive support team is here to assist you with any questions or issues you may have
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-pp3" role="tabpanel" aria-labelledby="v-btn-pp3">
                        <div class="tab-inner-contentbox mt-0">
                            <h5 class="pp-title pt-0">Introduction</h5>
                            <p>
                                This Privacy Policy describes how your personal information is collected, used, and shared when you visit,
                                subscribe, register or make a purchase from Bid Spirit, ‘Site’.
                            </p>
                            <h5 class="pp-title">Definition of personal data</h5>
                            <p>Personal data refers to any information that relates to an identified or identifiable individual on the Bid Spirit Antique Auction website. This includes data such as the user's name, contact details, payment information, and any other details that can be used to distinguish or recognize a specific user. Personal data is crucial for the functioning of Bid Spirit</p>
                            <ul class="pp-list">
                                <li>Personal data on Bid Spirit encompasses any information that can be used to identify or distinguish an individual user. This includes details such as their name, contact information, payment data, and any other information that can be linked to a specific person.</li>
                                <li>Personal data is essential for the smooth functioning of the Bid Spirit platform. It is used for user account management, payment processing, and communication with users regarding auctions, bids, and transactions. Without personal data, the platform would be unable to provide its services effectively..</li>
                                <li>Bid Spirit must prioritize the privacy and security of personal data. Users should be informed about how their data is collected, processed, and protected on the platform.  </li>
                            </ul>
                            <h5 class="pp-title">Cookies and Similar Technologies</h5>
                            <p>We use cookies and similar technologies to provide, protect, and improve our products and services, such as by personalizing content, offering and measuring advertisements, understanding user behavior, and providing a safer experience.</p>
                            <h6 class="highlighted-text">You can remove or reject cookies using your browser or device settings, but in some cases doing so may affect your ability to use our products and services.</h6>
                            <ul class="pp-list">
                                <li>Cookies and similar technologies are used on platforms like Bid Spirit to track user behavior and preferences. These technologies allow the platform to remember user preferences, such as language settings or login information, and provide a more personalized experience. </li>
                                <li>It's important for Bid Spirit to inform users about the use of cookies and similar technologies and obtain their consent in compliance with data privacy regulations.  </li>
                            </ul>
                            <h5 class="pp-title">Your Rights</h5>
                            <p>Your rights as a user on Bid Spirit are of utmost importance, and they are protected by various regulations and policies. These rights encompass your ability to control and manage your personal data, including the right to access the information the platform holds about you. You have the right to request the correction of any inaccurate data, as well as the right to have your data erased under certain circumstances. Additionally, you can exercise your right to restrict or object to the processing of your personal data. Bid Spirit is committed to transparency, ensuring you are well-informed about how your data is used and giving you the option to manage your privacy settings and consent preferences. By understanding and asserting your rights, you can maintain control over your personal information and ensure it is handled in compliance with data protection laws and with respect for your privacy.</p>
                        </div>
                        <div class="tab-inner-contentbox">
                            <h5 class="pp-title pt-0">How you can contact us</h5>
                            <p>
                                Contacting Bid Spirit is a straightforward process to ensure users' queries, concerns, and feedback are addressed promptly and effectively. Our dedicated customer support team is available through various communication channels. You can reach us via email at support@bidspirit.com for non-urgent inquiries or send a direct message through our website's built-in messaging system. For more immediate assistance or urgent matters, our live chat feature offers real-time support during business hours. We value your feedback and are committed to providing a seamless user experience on the Bid Spirit platform, so don't hesitate to get in touch with us. Our responsive support team is here to assist you with any questions or issues you may have
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-pp4" role="tabpanel" aria-labelledby="v-btn-pp4">
                        <div class="tab-inner-contentbox mt-0">
                            <h5 class="pp-title pt-0">Introduction</h5>
                            <p>
                                This Privacy Policy describes how your personal information is collected, used, and shared when you visit,
                                subscribe, register or make a purchase from Bid Spirit, ‘Site’.
                            </p>
                            <h5 class="pp-title">Definition of personal data</h5>
                            <p>Personal data refers to any information that relates to an identified or identifiable individual on the Bid Spirit Antique Auction website. This includes data such as the user's name, contact details, payment information, and any other details that can be used to distinguish or recognize a specific user. Personal data is crucial for the functioning of Bid Spirit</p>
                            <ul class="pp-list">
                                <li>Personal data on Bid Spirit encompasses any information that can be used to identify or distinguish an individual user. This includes details such as their name, contact information, payment data, and any other information that can be linked to a specific person.</li>
                                <li>Personal data is essential for the smooth functioning of the Bid Spirit platform. It is used for user account management, payment processing, and communication with users regarding auctions, bids, and transactions. Without personal data, the platform would be unable to provide its services effectively..</li>
                                <li>Bid Spirit must prioritize the privacy and security of personal data. Users should be informed about how their data is collected, processed, and protected on the platform.  </li>
                            </ul>
                            <h5 class="pp-title">Cookies and Similar Technologies</h5>
                            <p>We use cookies and similar technologies to provide, protect, and improve our products and services, such as by personalizing content, offering and measuring advertisements, understanding user behavior, and providing a safer experience.</p>
                            <h6 class="highlighted-text">You can remove or reject cookies using your browser or device settings, but in some cases doing so may affect your ability to use our products and services.</h6>
                            <ul class="pp-list">
                                <li>Cookies and similar technologies are used on platforms like Bid Spirit to track user behavior and preferences. These technologies allow the platform to remember user preferences, such as language settings or login information, and provide a more personalized experience. </li>
                                <li>It's important for Bid Spirit to inform users about the use of cookies and similar technologies and obtain their consent in compliance with data privacy regulations.  </li>
                            </ul>
                            <h5 class="pp-title">Your Rights</h5>
                            <p>Your rights as a user on Bid Spirit are of utmost importance, and they are protected by various regulations and policies. These rights encompass your ability to control and manage your personal data, including the right to access the information the platform holds about you. You have the right to request the correction of any inaccurate data, as well as the right to have your data erased under certain circumstances. Additionally, you can exercise your right to restrict or object to the processing of your personal data. Bid Spirit is committed to transparency, ensuring you are well-informed about how your data is used and giving you the option to manage your privacy settings and consent preferences. By understanding and asserting your rights, you can maintain control over your personal information and ensure it is handled in compliance with data protection laws and with respect for your privacy.</p>
                        </div>
                        <div class="tab-inner-contentbox">
                            <h5 class="pp-title pt-0">How you can contact us</h5>
                            <p>
                                Contacting Bid Spirit is a straightforward process to ensure users' queries, concerns, and feedback are addressed promptly and effectively. Our dedicated customer support team is available through various communication channels. You can reach us via email at support@bidspirit.com for non-urgent inquiries or send a direct message through our website's built-in messaging system. For more immediate assistance or urgent matters, our live chat feature offers real-time support during business hours. We value your feedback and are committed to providing a seamless user experience on the Bid Spirit platform, so don't hesitate to get in touch with us. Our responsive support team is here to assist you with any questions or issues you may have
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

