﻿
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/headfoot.cshtml";
}

<div class="breadcrumb breadcrumb-style-one mb-0 ">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h1 class="breadcrumb-title">Register</h1>
            <ul class="d-flex justify-content-center breadcrumb-items">
                <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Register</li>
            </ul>
        </div>
    </div>
</div>


<section class="register-section pt-110">
    <div class="container">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-12">
                <div class="register-btn-group">
                    <a href="register.html" class="register-btn">Register</a>
                    <a href="login.html" class="login-btn">Login</a>
                </div>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="register-left-area">
                    <h3>Hello Again</h3>
                    <p>Wellcome Back You’ve Been Missed</p>
                    <a href="index.html" class="transparent-btn">Back Home</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-form-area">
                    <h3>Register Your Account</h3>
                    <form class="w-100">
                        <div class="form-inner">
                            <label>Full Name*</label>
                            <input type="text" placeholder="Full Name">
                        </div>
                        <div class="form-inner">
                            <label>Email *</label>
                            <input type="text" placeholder="Your email">
                        </div>
                        <div class="form-inner">
                            <label>Password *</label>
                            <input type="password" name="password" id="password" placeholder="Password" />
                            <i class="bi bi-eye-slash" id="togglePassword"></i>
                        </div>
                        <div class="form-inner">
                            <label>Confirm Password *</label>
                            <input type="password" name="password" id="password2" placeholder="Confirm Password" />
                            <i class="bi bi-eye-slash" id="togglePassword2"></i>
                        </div>
                        <div class="form-inner d-flex justify-content-between flex-wrap">
                            <div class="form-group">
                                <input type="checkbox" id="html">
                                <label for="html">Remember Me</label>
                            </div>
                            <a href="#" class="forgot-pass">Forgotten Password</a>
                        </div>
                        <button class="account-btn">CREATE AN ACCOUNT</button>
                    </form>
                    <div class="alternate-signup-box">
                        <h6>or Sign up WITH</h6>
                        <div class="btn-group gap-4">
                            <a href class="google-btn d-flex align-items-center"><i class="bx bxl-google"></i><span>Signup whit google</span></a>
                            <a href class="facebook-btn d-flex align-items-center"><i class="bx bxl-facebook"></i>Sign up whit facebook</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


