﻿
@{
    ViewData["Title"] = "Winner";
    Layout = "~/Views/Shared/headfoot.cshtml";
}

<div class="breadcrumb breadcrumb-style-one mb-0 ">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h1 class="breadcrumb-title">Auction Winner</h1>
            <ul class="d-flex justify-content-center breadcrumb-items">
                <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Auction Winner</li>
            </ul>
        </div>
    </div>
</div>


<div class="auction-winner-wrapper pt-110">
    <div class="container">
        <div class="row row-cols-xl-6 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-2 gy-5">
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b1.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name"><a href="winner.html">Esther Howard</a></h5>
                        <p class="id">ID: 0193608</p>
                        <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b2.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name"><a href="winner.html">Eleanor Pena</a></h5>
                        <p class="id">ID: 0194608</p>
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b3.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name">Albert Flores</h5>
                        <p class="id">ID: 0195608</p>
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b4.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name">Robert Fox</h5>
                        <p class="id">ID: 0295608</p>
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b5.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name">Jane Cooper</h5>
                        <p class="id">ID: 0135608</p>
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b6.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name">Jenny Wilson</h5>
                        <p class="id">ID: 0145608</p>
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b7.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name">Esther Howard</h5>
                        <p class="id">ID: 0195408</p>
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b8.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name">Albert Flores</h5>
                        <p class="id">ID: 0195348</p>
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b9.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name">Eleanor Pena</h5>
                        <p class="id">ID: 0195248</p>
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b10.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name">Albert Flores</h5>
                        <p class="id">ID: 0195232</p>
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b11.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name">Jenny Wilson</h5>
                        <p class="id">ID: 0195665</p>
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b12.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name">Esther Howard</h5>
                        <p class="id">ID: 0195676</p>
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b13.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name">Esther Howard</h5>
                        <p class="id">ID: 0195698</p>
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b14.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name">Eleanor Pena</h5>
                        <p class="id">ID: 0195256</p>
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b15.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name">Albert Flores</h5>
                        <p class="id">ID: 0195756</p>
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b16.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name">Robert Fox</h5>
                        <p class="id">ID: 0195763</p>
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b18.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name">Jane Cooper</h5>
                        <p class="id">ID: 0191286</p>
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="winner-gamma">
                    <div class="winner-image">
                        <img src="~/assets/images/winner/winner-b19.png" alt>
                    </div>
                    <div class="winner-info">
                        <h5 class="winner-name">Jenny Wilson</h5>
                        <p class="id">ID: 0194665</p>
                        <a href="#" class="meta"><i class="bi bi-bag-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination pagination-style-one justify-content-center pt-50">
            <li class="page-item page-arrow"><a class="page-link" href="#"> <i class="bi bi-arrow-left"></i></a></li>
            <li class="page-item active"><a class="page-link" href="#">01</a></li>
            <li class="page-item"><a class="page-link" href="#">02</a></li>
            <li class="page-item"><a class="page-link" href="#">03</a></li>
            <li class="page-item"><a class="page-link" href="#">04</a></li>
            <li class="page-item page-arrow"><a class="page-link" href="#"> <i class="bi bi-arrow-right"></i></a></li>
        </ul>
    </div>
</div>

